Repository thc1006/nephoran-intent-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosec, go-vulncheck, nancy-check, license-check, validate-golangci-config, syntax-check-golangci, lint-config-compatibility, go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

gosec:
  name: Go security check (gosec)
  entry: bash -c 'gosec -fmt json -severity medium ./... || true'
  language: system
  pass_filenames: false

go-vulncheck:
  name: Go vulnerability check
  entry: bash -c 'govulncheck ./... || true'
  language: system
  pass_filenames: false

nancy-check:
  name: Nancy dependency vulnerability scan
  entry: bash -c 'go list -json -deps ./... | nancy sleuth || true'
  language: system
  pass_filenames: false

license-check:
  name: Check license compliance
  entry: bash -c 'go-licenses check ./... --disallowed_types=forbidden,restricted,reciprocal || true'
  language: system
  pass_filenames: false

validate-golangci-config:
  name: Validate golangci-lint configuration
  entry: scripts/hooks/validate-golangci-config.sh
  language: script
  pass_filenames: true
  verbose: true

syntax-check-golangci:
  name: Syntax check golangci-lint config
  entry: bash -c 'golangci-lint config path -c .golangci-fast.yml > /dev/null'
  language: system
  pass_filenames: false

lint-config-compatibility:
  name: Check golangci-lint version compatibility
  entry: scripts/hooks/check-lint-compatibility.sh
  language: script
  pass_filenames: false

go-fmt:
  name: Go Format
  entry: gofmt
  language: system
  args:
  - -w

go-vet:
  name: Go Vet
  entry: bash -c 'go vet ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
  language: system
  pass_filenames: false

golangci-lint-fast:
  name: golangci-lint (fast check on changed files)
  entry: bash -c 'golangci-lint run --config=.golangci-fast.yml --new-from-rev=HEAD~1 --timeout=2m'
  language: system
  pass_filenames: false

fix(ci): resolve CI pipeline failures with comprehensive fixes
  .github/workflows/ci-optimized.yml
  .github/workflows/k8s-operator-ci-2025.yml
  Dockerfile
  Makefile
  Makefile.k8s-operator-2025
Due: none

fix: clean up unused imports in envtest_setup_fixed_v2.go
  hack/testtools/envtest_setup_fixed_v2.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve GitHub Actions failures with version and cache fixes
  .github/workflows/ci-2025.yml
  .github/workflows/ci-reliability-optimized.yml
  .github/workflows/k8s-operator-ci-2025.yml
Due: none

fix: update CI workflows with compatible Go and Kubernetes versions
  .github/workflows/ci-2025.yml
  .github/workflows/ci-production.yml
  .github/workflows/ci-reliability-optimized.yml
  .github/workflows/final-integration-validation.yml
  .github/workflows/k8s-operator-ci-2025.yml
  .github/workflows/main-ci-optimized-2025.yml
  .github/workflows/nephoran-master-orchestrator.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security-scan-optimized-2025.yml
Due: none

resolve: enable PR trigger in CI reliability workflow
  .github/workflows/ci-reliability-optimized.yml
Due: none

fix: consolidate testtools files to resolve merge conflicts
  hack/testtools/envtest_setup.go
  hack/testtools/envtest_setup_fixed.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix: merge envtest_setup.go with main branch version
  hack/testtools/envtest_setup.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): prepare for merge by resolving workflow conflicts
  .github/workflows/ci-2025.yml
  .github/workflows/ci-reliability-optimized.yml
  .github/workflows/k8s-operator-ci-2025.yml
Due: none

fix(ci): update Go versions to 1.23.3 in all remaining workflows
  .github/workflows/cache-recovery-system.yml
  .github/workflows/ci-main-2025.yml
  .github/workflows/ci-monitoring.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/ci-stability-orchestrator.yml
  .github/workflows/ci-timeout-fix.yml
  .github/workflows/ci-timeout-fixed.yml
  .github/workflows/go-module-cache.yml
  .github/workflows/main-ci.yml
  .github/workflows/merge-ready.yml
  .github/workflows/nephoran-ci-2025-consolidated.yml
Due: none

fix(ci): resolve CI timeout and pipeline status failures
  .github/workflows/ci-timeout-fixed.yml
Due: none

fix(build): resolve compilation errors in tests and main functions
  api/v1alpha1/networkintent_types_test.go
  cmd/llm-processor/main.go
  go.mod
Due: gosec, go-vulncheck, nancy-check, license-check, go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

fix(ci): optimize CI for massive codebase (206 packages + cloud SDKs)
  .github/workflows/ci-timeout-fixed.yml
Due: none

fix(ci): update Go versions to 1.24.0+ to match go.mod requirements
  .github/workflows/cache-recovery-system.yml
  .github/workflows/ci-2025.yml
  .github/workflows/ci-main-2025.yml
  .github/workflows/ci-monitoring.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/ci-production.yml
  .github/workflows/ci-reliability-optimized.yml
  .github/workflows/ci-stability-orchestrator.yml
  .github/workflows/ci-timeout-fix.yml
  .github/workflows/ci-timeout-fixed.yml
  .github/workflows/go-module-cache.yml
  .github/workflows/k8s-operator-ci-2025.yml
  .github/workflows/main-ci-optimized-2025.yml
  .github/workflows/main-ci.yml
  .github/workflows/merge-ready.yml
  .github/workflows/nephoran-ci-2025-consolidated.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security-scan-optimized-2025.yml
Due: none

fix(kubebuilder): resolve PROJECT config componentConfig type error
  PROJECT
Due: none

fix(ci): resolve Go version issues in main CI workflows
  .github/workflows/ci-2025.yml
  .github/workflows/ci-reliability-optimized.yml
Due: none

fix: tidy go.mod and go.sum
  go.mod
Due: nancy-check, go-mod-tidy

fix(makefile): add missing 'manifests' target for CRD generation
  Makefile
Due: none

Fix merge conflicts and test file compilation errors
  test/envtest/networkintent_controller_test.go
  test/envtest/networkintent_controller_test.go.conflicted
  test/envtest/suite_test.go
  test/integration/operator_integration_test.go
  test/security/rbac_test.go
  test_imports.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix: update CRD manifests with controller-gen v0.19.0
  config/crd/bases/_networkintents.yaml
  config/crd/bases/nephoran.com._audittrails.yaml
  config/crd/bases/nephoran.com._certificateautomations.yaml
  config/crd/bases/nephoran.com._cnfdeployments.yaml
  config/crd/bases/nephoran.com._e2nodesets.yaml
  config/crd/bases/nephoran.com._gitopsdeployments.yaml
  config/crd/bases/nephoran.com._intentprocessings.yaml
  config/crd/bases/nephoran.com._managedelements.yaml
  config/crd/bases/nephoran.com._manifestgenerations.yaml
  config/crd/bases/nephoran.com._networkintents.yaml
  config/crd/bases/nephoran.com._o1interfaces.yaml
  config/crd/bases/nephoran.com._resourceplans.yaml
  hack/testtools/envtest_setup.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): comprehensive CI fixes for tar extraction and CRD validation
  .github/workflows/ci-2025.yml
  .github/workflows/k8s-operator-ci-2025.yml
Due: none

fix: resolve test compilation errors and add test suite
  api/intent/v1alpha1/webhook_test_fixed.go
  hack/testtools/envtest_setup.go
  hack/testtools/envtest_setup_fixed.go
  hack/testtools/envtest_setup_fixed_v2.go
  pkg/auth/middleware_test.go
  pkg/controllers/controllers_suite_test.go
  pkg/controllers/e2nodeset_controller_test.go
  pkg/controllers/networkintent_cleanup_edge_cases_test.go
  pkg/controllers/networkintent_cleanup_integration_test.go
  pkg/controllers/networkintent_cleanup_table_driven_test.go
  pkg/controllers/networkintent_cleanup_test.go
  pkg/controllers/networkintent_controller_comprehensive_unit_test.go
  pkg/controllers/optimized/optimized_networkintent_controller.go
  pkg/nephio/porch/porchtest/test_helpers.go
  pkg/testutils/mocks.go
  tests/disaster-recovery/disaster_recovery_test_fixed.go
  tests/integration/integration_test_fixed.go
  tests/validation/sla_methods.go
  tests/validation/sla_types.go
  tools/test-import-cycle/main.go
  tools/test_import_cycle.go
  tools/verify-scale/main.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): update Go version from 1.23.4 to 1.24 to match code requirements
  .github/workflows/ci-2025.yml
  .github/workflows/ci-reliability-optimized.yml
  .github/workflows/k8s-operator-ci-2025.yml
Due: none

fix: resolve MockGitClient testify issues in edge cases tests
  pkg/controllers/networkintent_cleanup_edge_cases_test.go
  pkg/controllers/networkintent_cleanup_table_driven_test.go
  pkg/controllers/networkintent_cleanup_test.go
  pkg/porch/client_error_test.go
  pkg/porch/lifecycle_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix: complete resolution of CI build failures
  pkg/oran/a1/a1_adaptor.go
  pkg/oran/a1/handlers_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

feat(deps): update AWS SDK EC2 service from v1.249.0 to v1.251.1 (#206)
  .github/workflows/ci-timeout-fixed.yml
  go.mod
Due: nancy-check, go-mod-tidy

fix(ci): remove seccompProfile from deployment to fix Kubernetes validation
  config/manager/manager.yaml
  resolve_ci_conflicts.sh
Due: none

fix: remove unsupported seccompProfile from webhook deployment
  config/webhook/deployment.yaml
Due: none

fix(ci): resolve cache extraction errors and GitHub rate limiting
  .github/workflows/k8s-operator-ci-2025.yml
Due: none

chore: update test files and add structured patch examples
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250909-232720-4912/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250909-232720-4912/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250909-232720-4912/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250909-232720-1896/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250909-232720-1896/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250909-232720-1896/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250909-232720-1451/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250909-232720-1451/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250909-232720-1451/scaling-patch.yaml
  docs/PROGRESS.md
  hack/testtools/envtest_setup.go
  internal/loop/.conductor-state.json
  pkg/controllers/networkintent_cleanup_table_driven_test.go
  pkg/llm/circuit_breaker_advanced_test.go
  pkg/nephio/advanced_benchmarks_test.go
  pkg/nephio/multicluster/performance_test.go
  pkg/oran/a1/a1_adaptor.go
  pkg/oran/a1/a1_adaptor_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix: resolve Go build errors and clean up test code
  pkg/controllers/networkintent_cleanup_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): increase govulncheck timeout from 5 to 10 minutes
  .github/workflows/k8s-operator-ci-2025.yml
Due: none

fix(ci): fix SARIF upload failure by checking for file existence
  .github/workflows/k8s-operator-ci-2025.yml
Due: none

chore: tidy go.mod and go.sum
  go.mod
  go.sum
Due: nancy-check, go-mod-tidy

fix(ci): resolve GitHub Actions permission denied errors during cleanup
  .github/workflows/ci-reliability-optimized.yml
  .github/workflows/k8s-operator-ci-2025.yml
Due: none

fix(ci): resolve merge conflict markers in Makefile.ci
  Makefile.ci
Due: none

fix(deps): upgrade vulnerable dependencies for security patches
  go.mod
  go.sum
Due: nancy-check, go-mod-tidy

fix: resolve Git merge conflict markers in Makefile.ci
  Makefile.ci
Due: none

fix(tools): add missing verify-scale.go tool for E2E workflow
  tools/verify-scale.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix: regenerate CRDs and resolve CI build failures
  api/v1/zz_generated.deepcopy.go
  config/crd/bases/_.yaml
  config/crd/bases/managedelement_crd.yaml
  config/crd/bases/nephoran.com_backuppolicies.yaml
  config/crd/bases/nephoran.com_certificateautomations.yaml
  config/crd/bases/nephoran.com_disasterrecoveryplans.yaml
  config/crd/bases/nephoran.com_e2nodesets.yaml
  config/crd/bases/nephoran.com_failoverpolicies.yaml
  config/crd/bases/nephoran.com_networkintents.yaml
  config/crd/bases/nephoran.com_resourceplans.yaml
  config/crd/bases/networkintent_crd.yaml
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix: update envtest files for CRD compatibility
  test/envtest/networkintent_controller_test.go
  test/envtest/suite_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

Path conditions:
  gosec: any of: \.go$
  go-vulncheck: any of: \.go$
  nancy-check: any of: ^(go\.mod|go\.sum)$
  license-check: any of: \.go$
  validate-golangci-config: any of: ^\.golangci.*\.ya?ml$
  syntax-check-golangci: any of: ^\.golangci.*\.ya?ml$
  lint-config-compatibility: any of: ^\.golangci.*\.ya?ml$
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: ^(go\.mod|go\.sum)$
  golangci-lint-fast: any of: \.go$
