Repository thc1006/nephoran-intent-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosec, go-vulncheck, nancy-check, license-check, validate-golangci-config, syntax-check-golangci, lint-config-compatibility, go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

Path conditions:
  gosec: any of: \.go$
  go-vulncheck: any of: \.go$
  nancy-check: any of: ^(go\.mod|go\.sum)$
  license-check: any of: \.go$
  validate-golangci-config: any of: ^\.golangci.*\.ya?ml$
  syntax-check-golangci: any of: ^\.golangci.*\.ya?ml$
  lint-config-compatibility: any of: ^\.golangci.*\.ya?ml$
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: ^(go\.mod|go\.sum)$
  golangci-lint-fast: any of: \.go$

resolve(merge): comprehensive merge conflict resolution for feat/llm-provider
  pkg/controllers/error_recovery_test.go
  pkg/controllers/networkintent_cleanup_edge_cases_test.go
  pkg/controllers/networkintent_cleanup_table_driven_test.go
  pkg/controllers/networkintent_cleanup_test.go
  pkg/git/fake/client.go
  pkg/llm/circuit_breaker_advanced_test.go
  pkg/nephio/advanced_benchmarks_test.go
  pkg/nephio/blueprint/manager_comprehensive_test.go
  pkg/nephio/krm/runtime_comprehensive_test.go
  pkg/nephio/multicluster/multicluster_comprehensive_test.go
  pkg/nephio/multicluster/performance_test.go
  pkg/oran/a1/handlers_test.go
  pkg/oran/a1/types_test.go
  pkg/oran/o1/adapter_test.go
  pkg/oran/o1/o1_adaptor_test.go
  pkg/oran/o2/o2_manager_test.go
  pkg/oran/o2/providers/kubernetes_test.go
  pkg/oran/o2/providers/providers_test.go
  pkg/testutil/auth/testing.go
  test/envtest/suite_test.go
  tests/o2/integration/multi_cloud_test.go
  tests/performance/benchmarks_test.go
  tests/validation/o2_compliance_validation_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(compilation): remove duplicate ManagedElementID field in Alarm struct
  pkg/oran/o1/common_types.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

resolve(merge): comprehensive merge conflict resolution with integrate/mvp
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250906-020202-2763/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250906-020202-2763/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250906-020202-2763/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250906-020202-0655/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250906-020202-0655/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250906-020202-0655/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250906-020202-3689/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250906-020202-3689/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250906-020202-3689/scaling-patch.yaml
  deployments/crds/nephoran.com_certificateautomations.yaml
  internal/loop/.conductor-state.json
  pkg/auth/middleware_test.go
  pkg/testutil/auth/mocks.go
  pkg/testutil/auth/testing.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(compilation): resolve critical Go compilation errors for CI
  api/v1alpha1/networkintent_types.go
  pkg/controllers/networkintent_controller_comprehensive_unit_test.go
  pkg/llm/missing_types.go
  pkg/llm/types_consolidated.go
  pkg/nephio/advanced_benchmarks_test.go
  pkg/nephio/blueprint/manager_comprehensive_test.go
  pkg/nephio/krm/runtime_comprehensive_test.go
  pkg/nephio/multicluster/chaos_resilience_test.go
  pkg/nephio/package_generator_test.go
  pkg/nephio/porch/types.go
  pkg/oran/a1/handlers_test.go
  pkg/oran/a1/types_test.go
  pkg/oran/a1/validation_test.go
  pkg/oran/o1/o1_adaptor_test.go
  pkg/oran/o2/o2_manager_test.go
  pkg/oran/o2/providers/providers_test.go
  pkg/porch/client.go
  pkg/security/race_test.go
  test/integration/porch/intent_reconciliation_test.go
  test/integration/porch_integration_test.go
  test/performance/load_test.go
  test/security/rbac_test.go
  tests/examples/modern_testing_example_test.go
  tests/integration/audit_e2e_test.go
  tests/o2/integration/api_endpoints_test.go
  tests/performance/benchmarks_test.go
  tests/unit/llm_test.go
  tests/validation/o2_compliance_validation_test.go
  tests/validation/sla_types.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve critical CI test failures
  api/intent/v1alpha1/networkintent_webhook.go
  go.mod
  internal/loop/.conductor-state.json
  pkg/nephio/blueprint/manager.go
  pkg/nephio/blueprint/manager_comprehensive_test.go
  pkg/nephio/krm/runtime_comprehensive_test.go
Due: gosec, go-vulncheck, nancy-check, license-check, go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

fix(ci): resolve cache restore conflicts preventing CI failures
  .github/workflows/ci-reliability-optimized.yml
  .github/workflows/nephoran-ci-consolidated-2025.yml
Due: none

fix(ci): resolve Go compilation errors causing CI failures
  pkg/auth/jwt_manager_test.go
  pkg/controllers/networkintent_cleanup_table_driven_test.go
  pkg/nephio/multicluster/performance_test.go
  pkg/oran/a1/handlers_test.go
  pkg/oran/o1/o1_adaptor_test.go
  pkg/oran/o2/o2_manager_test.go
  pkg/oran/o2/providers/providers_test.go
  test/envtest/networkintent_controller_test.go
  tests/o2/integration/api_endpoints_test.go
  tests/validation/performance_comprehensive_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(tests): complete Go compilation error fixes
  pkg/auth/middleware_test.go
  pkg/controllers/networkintent_cleanup_edge_cases_test.go
  pkg/controllers/networkintent_cleanup_test.go
  pkg/testutil/auth/mocks.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): correct Ginkgo v2 coverprofile flag usage
  .github/workflows/ci-reliability-optimized.yml
Due: none

fix(compilation): resolve additional Go compilation errors from CI logs
  pkg/oran/o1/o1_adaptor_test.go
  pkg/oran/o2/o2_manager_test.go
  pkg/oran/o2/providers/providers_test.go
  test/envtest/networkintent_controller_test.go
  tests/validation/performance_comprehensive_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(compilation): clean up remaining minor compilation issues
  pkg/oran/o1/o1_adaptor_test.go
  pkg/oran/o2/o2_manager_test.go
  pkg/oran/o2/providers/providers_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): correct test paths in GitHub Actions workflows
  .github/workflows/ci-2025.yml
  .github/workflows/ci-reliability-optimized.yml
  .github/workflows/ci-ultra-optimized-2025.yml
  .github/workflows/main-ci-optimized-2025.yml
  .github/workflows/nephoran-ci-2025-consolidated.yml
  .github/workflows/nephoran-ci-2025-production.yml
  .github/workflows/production-ci.yml
  .github/workflows/ultra-optimized-go-ci.yml
  pkg/testutil/auth/mocks.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(tests): resolve Go compilation errors for CI
  api/v1alpha1/zz_generated.deepcopy.go
  pkg/oran/o2/o2_manager_test.go
  pkg/oran/o2/providers/providers_test.go
  test/envtest/networkintent_controller_test.go
  test/integration/porch_integration_test.go
  tests/o2/integration/api_endpoints_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(tests): resolve remaining Go compilation errors from specialized agents
  pkg/controllers/audittrail_controller.go
  pkg/controllers/audittrail_controller_test.go
  pkg/controllers/e2nodeset_controller.go
  pkg/controllers/e2nodeset_controller_comprehensive_test.go
  pkg/controllers/e2nodeset_controller_error_handling_test.go
  pkg/controllers/e2nodeset_controller_security_test.go
  pkg/controllers/e2nodeset_controller_test.go
  pkg/controllers/integration_test.go
  pkg/controllers/metrics.go
  pkg/controllers/metrics_test_helpers.go
  test_metrics_fix.go
  tests/integration/audit_e2e_test.go
  tests/integration/audit_test_types.go
  tests/performance/benchmarks_test.go
  tests/unit/llm_test.go
  tests/utils/test_config.go
  tests/validation/performance_comprehensive_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(tests): comprehensive AuditTrail controller test fixes and improvements
  pkg/audit/backends/backend.go
  pkg/controllers/audittrail_controller.go
  pkg/controllers/audittrail_controller_test.go
  pkg/controllers/e2nodeset_controller.go
  test_metrics_fix.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(controllers): resolve nil pointer dereference in E2NodeSet Prometheus metrics
  internal/internal_suite_test.go
  pkg/controllers/e2nodeset_controller.go
  pkg/controllers/metrics_test_helpers.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(controllers): resolve E2NodeSet test failures and add E2Manager integration
  pkg/controllers/e2nodeset_controller.go
  pkg/controllers/e2nodeset_controller_error_handling_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(controllers): major E2NodeSet test improvements - E2Manager integration working
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250906-085409-4634/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250906-085409-4634/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250906-085409-4634/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250906-085409-0775/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250906-085409-0775/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250906-085409-0775/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250906-085409-5555/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250906-085409-5555/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250906-085409-5555/scaling-patch.yaml
  go.mod
  go.sum
  internal/loop/.conductor-state.json
  pkg/controllers/e2nodeset_controller.go
  pkg/controllers/e2nodeset_controller_comprehensive_test.go
  test/integration/operator_integration_test.go
  test/integration/porch/intent_reconciliation_test.go
  test/integration/porch/resilience_test.go
  test/integration/porch/suite_test.go
  test/integration/porch_integration_test.go
  test/integration/system_test.go
  tests/integration/audit_e2e_test.go
  tests/integration/availability_tracking_test.go
  tests/o2/integration/cnf_deployment_test.go
  tests/performance/benchmarks_test.go
  tests/performance/production_load_test.go
  tests/validation/performance_comprehensive_test.go
  tests/validation/security_compliance_test.go
  tests/validation/sla_validation_test.go
Due: gosec, go-vulncheck, nancy-check, license-check, go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

fix(controllers): comprehensive E2NodeSet controller test fixes and improvements
  pkg/controllers/e2nodeset_controller.go
  pkg/controllers/e2nodeset_controller_comprehensive_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(tests): resolve E2Manager initialization issue in E2NodeSet controller tests
  pkg/controllers/e2nodeset_controller_error_handling_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(tests): add comprehensive E2Manager mocking for controller tests
  pkg/controllers/e2nodeset_controller_error_handling_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(tests): comprehensive Go compilation error resolution
  tests/integration/end_to_end_rag_pipeline_test.go
  tests/integration/metrics_scrape_test.go
  tests/integration/o2_cnf_deployment_test.go
  tests/integration/o2_multi_cloud_provider_test.go
  tests/integration/o2_resource_lifecycle_test.go
  tests/integration/sla_monitoring_test.go
  tests/performance/race_benchmarks_test.go
  tests/performance/sla_performance_test.go
  tests/validation/performance_comprehensive_test.go
  tests/validation/sla_methods.go
  tests/validation/sla_types.go
  tests/validation/sla_validation_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve BUILD_FLAGS ldflags quoting and module tidiness issues
  .github/workflows/README-2025-IMPROVEMENTS.md
  .github/workflows/container-build-2025.yml.disabled
  .github/workflows/main-ci-optimized-2025.yml
  .github/workflows/production-ci.yml
  pkg/controllers/e2nodeset_controller_comprehensive_test.go
  pkg/controllers/e2nodeset_controller_error_handling_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(controllers): complete E2NodeSet error handling test fixes
  pkg/controllers/e2nodeset_controller_error_handling_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(deps): update Ginkgo to v2.25.3 to resolve CLI version mismatch
  go.mod
  go.sum
Due: nancy-check, go-mod-tidy

fix(ci): correct BUILD_FLAGS quoting in GitHub Actions workflow
  .github/workflows/nephoran-ci-consolidated-2025.yml
Due: none

fix(api,ci): resolve CRD float type issues and generate missing files
  api/v1/cnfdeployment_types.go
  api/v1/networkintent_types_extension.go
  api/v1/resourceplan_types.go
  api/v1/zz_generated.deepcopy.go
  config/crd/bases/intent.nephoran.com_networkintents.yaml
  config/crd/bases/nephoran.com._cnfdeployments.yaml
  config/crd/bases/nephoran.com._intentprocessings.yaml
  config/crd/bases/nephoran.com._manifestgenerations.yaml
  config/crd/bases/nephoran.com._resourceplans.yaml
  pkg/llm/mocks/client_mock.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(controllers): resolve float64 to string conversion errors in controllers
  pkg/controllers/cnfdeployment_controller.go
  pkg/controllers/orchestration/resource_planning_controller.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve GitHub Actions Linux bash BUILD_FLAGS quoting issue
  .github/workflows/nephoran-ci-consolidated-2025.yml
Due: none

fix(ci): enable CGO for race detection in component tests
  .github/workflows/nephoran-ci-consolidated-2025.yml
Due: none

fix(blueprint): resolve template data issues preventing test execution
  pkg/nephio/blueprint/generator.go
  pkg/nephio/blueprint/manager_comprehensive_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix: resolve critical CI failures with comprehensive multi-agent fixes
  .github/workflows/nephoran-ci-consolidated-2025.yml
  CI_FIX_LOOP.md
  cmd/llm-processor/llm_provider_integration_test.go
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250906-164945-8458/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250906-164945-8458/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250906-164945-8458/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250906-164944-8665/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250906-164944-8665/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250906-164944-8665/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250906-164945-9851/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250906-164945-9851/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250906-164945-9851/scaling-patch.yaml
  internal/loop/.conductor-state.json
  pkg/controllers/audittrail_controller_test.go
  pkg/controllers/controller_utils.go
  pkg/controllers/controller_utils_test.go
  pkg/controllers/e2nodeset_controller_error_handling_test.go
  pkg/nephio/blueprint/generator.go
  pkg/nephio/blueprint/manager.go
  pkg/nephio/blueprint/manager_comprehensive_test.go
  pkg/webhooks/networkintent_webhook_comprehensive_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(llm): resolve data race in Client.updateMetrics by protecting metricsIntegrator access
  pkg/llm/client_consolidated.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix: resolve race conditions and CI test failures - ITERATION #3
  .github/workflows/nephoran-ci-consolidated-2025.yml
  CI_FIX_LOOP.md
  RACE_CONDITION_FIX.md
  cmd/llm-processor/service_manager_test.go
  cmd/porch-direct/main_test.go
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250906-181753-5470/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250906-181753-5470/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250906-181753-5470/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250906-181751-2913/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250906-181751-2913/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250906-181751-2913/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250906-181751-9016/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250906-181751-9016/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250906-181751-9016/scaling-patch.yaml
  internal/intent/loader.go
  pkg/nephio/blueprint/generator.go
  pkg/nephio/blueprint/generator_nil_test.go
  pkg/nephio/blueprint/generator_race_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(e2nodeset): resolve error handling and retry logic in controller tests - ITERATION #4
  CI_FIX_LOOP.md
  pkg/controllers/e2nodeset_controller.go
  pkg/controllers/e2nodeset_controller_error_handling_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

HOTFIX: fix critical BUILD_FLAGS quote parsing error causing CI build failures
  .github/workflows/nephoran-ci-consolidated-2025.yml
Due: none

fix(tests): resolve nil pointer dereference and namespace validation failures in porch integration tests
  test/integration/porch/intent_reconciliation_test.go
  test/integration/porch/smoke_test.go
  test/integration/porch/suite_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix: optimize test performance and fix timeout issues - ITERATION #4
  CI_FIX_ITERATION_4_REPORT.md
  CI_FIX_LOOP.md
  Makefile
  cmd/conductor-loop/security_test.go
  cmd/llm-processor/llm_provider_integration_test.go
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250906-202413-0798/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250906-202413-0798/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250906-202413-0798/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250906-202413-5901/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250906-202413-5901/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250906-202413-5901/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250906-202413-3472/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250906-202413-3472/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250906-202413-3472/scaling-patch.yaml
  internal/llm/providers/offline.go
  internal/loop/.conductor-state.json
  scripts/test-optimize.ps1
  test/chaos/resilience_test.go
  test/integration/porch/kubebuilder_verification_test.go
  test/integration/system_test.go
  test/performance/load_test.go
  test/testutil/k8s_config.go
  test/testutil/k8s_config_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(controllers): correct test expectations for retry scenarios - ITERATION #4
  pkg/controllers/e2nodeset_controller_comprehensive_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): comprehensive ITERATION #4 - resolve all test infrastructure issues
  CI_FIX_LOOP.md
Due: none
