Repository thc1006/nephoran-intent-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosec, go-vulncheck, nancy-check, license-check, validate-golangci-config, syntax-check-golangci, lint-config-compatibility, go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

gosec:
  name: Go security check (gosec)
  entry: bash -c 'gosec -fmt json -severity medium ./... || true'
  language: system
  pass_filenames: false

go-vulncheck:
  name: Go vulnerability check
  entry: bash -c 'govulncheck ./... || true'
  language: system
  pass_filenames: false

nancy-check:
  name: Nancy dependency vulnerability scan
  entry: bash -c 'go list -json -deps ./... | nancy sleuth || true'
  language: system
  pass_filenames: false

license-check:
  name: Check license compliance
  entry: bash -c 'go-licenses check ./... --disallowed_types=forbidden,restricted,reciprocal || true'
  language: system
  pass_filenames: false

validate-golangci-config:
  name: Validate golangci-lint configuration
  entry: scripts/hooks/validate-golangci-config.sh
  language: script
  pass_filenames: true
  verbose: true

syntax-check-golangci:
  name: Syntax check golangci-lint config
  entry: bash -c 'golangci-lint config path -c .golangci-fast.yml > /dev/null'
  language: system
  pass_filenames: false

lint-config-compatibility:
  name: Check golangci-lint version compatibility
  entry: scripts/hooks/check-lint-compatibility.sh
  language: script
  pass_filenames: false

go-fmt:
  name: Go Format
  entry: gofmt
  language: system
  args:
  - -w

go-vet:
  name: Go Vet
  entry: bash -c 'go vet ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
  language: system
  pass_filenames: false

golangci-lint-fast:
  name: golangci-lint (fast check on changed files)
  entry: bash -c 'golangci-lint run --config=.golangci-fast.yml --new-from-rev=HEAD~1 --timeout=2m'
  language: system
  pass_filenames: false

fix(ci): resolve multiple CI workflow failures
  .github/workflows/k8s-operator-ci-2025.yml
  Dockerfile.dev
  deployments/auth-resources/namespace.yaml
  deployments/helm/nephoran-performance-monitoring/Chart.yaml
  deployments/multi-region/terraform/main.tf
Due: none

security: upgrade mapstructure to v2.3.0 to fix vulnerability
  go.mod
  go.sum
Due: nancy-check, go-mod-tidy

fix: replace bit shift operations in CNF resource requirements
  api/v1/cnfdeployment_types.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve timeout issue in fail-fast syntax check
  .github/workflows/ci-optimized.yml
Due: none

fix: resolve controller-gen make manifests panic with Go 1.24
  Makefile
  api/v1/cnfdeployment_types.go
  api/v1/resourceplan_types.go
  cmd/build_constraints.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve critical CI failures and security issues
  deployments/auth-resources/rbac.yaml
  deployments/disaster-recovery/multi-region-architecture.yaml
  deployments/helm/nephoran-performance-monitoring/templates/prometheusrules.yaml
  deployments/kubernetes/disaster-recovery-cronjobs.yaml
  deployments/rbac/cluster-roles.yaml
  deployments/rbac/roles.yaml
  deployments/security/security-rbac.yaml
Due: none

"fix: resolve controller-gen CRD generation issues"
  api/v1/cnfdeployment_types.go
  api/v1/common_types.go
  api/v1/intentprocessing_types.go
  api/v1/manifestgeneration_types.go
  api/v1/networkintent_cnf_types.go
  api/v1/networkintent_types_extension.go
  api/v1/o1interface_types.go
  api/v1/resourceplan_types.go
  config/crd/bases/intent.nephio.org_networkintents.yaml
  config/crd/bases/nephoran.io_audittrails.yaml
  config/crd/bases/nephoran.io_certificateautomations.yaml
  config/crd/bases/nephoran.io_cnfdeployments.yaml
  config/crd/bases/nephoran.io_e2nodesets.yaml
  config/crd/bases/nephoran.io_gitopsdeployments.yaml
  config/crd/bases/nephoran.io_intentprocessings.yaml
  config/crd/bases/nephoran.io_managedelements.yaml
  config/crd/bases/nephoran.io_manifestgenerations.yaml
  config/crd/bases/nephoran.io_networkintents.yaml
  config/crd/bases/nephoran.io_o1interfaces.yaml
  config/crd/bases/nephoran.io_resourceplans.yaml
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix: resolve type mismatches in generated deepcopy methods
  api/v1/manifestgeneration_types.go
  api/v1/networkintent_cnf_types.go
  api/v1/zz_generated.deepcopy.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix: resolve type mismatches in confidence scores and resource utilization
  api/intent/v1alpha1/deepcopy_manual.go
  api/intent/v1alpha1/zz_generated.deepcopy.go
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250910-002013-2904/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250910-002013-2904/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250910-002013-2904/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250910-032550-4701/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250910-032550-4701/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250910-032550-4701/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250910-002013-2278/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250910-002013-2278/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250910-002013-2278/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250910-032549-1810/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250910-032549-1810/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250910-032549-1810/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250910-002013-6451/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250910-002013-6451/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250910-002013-6451/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250910-032550-1465/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250910-032550-1465/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250910-032550-1465/scaling-patch.yaml
  internal/loop/.conductor-state.json
  pkg/cnf/intent_processor.go
  pkg/controllers/cnfdeployment_controller.go
  pkg/controllers/networkintent_cnf_integration.go
  pkg/controllers/orchestration/intent_processing_controller.go
  pkg/controllers/orchestration/resource_planning_controller.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve Trivy scan failures blocking CI workflow
  Dockerfile.dev
  deployments/disaster-recovery/business-continuity-planning.yaml
  deployments/disaster-recovery/data-protection-compliance.yaml
  deployments/helm/nephoran-performance-monitoring/templates/prometheusrules.yaml
Due: none

fix(docker): resolve Trivy Dockerfile parsing error
  Dockerfile.dev
Due: none

fix: resolve merge conflict and regenerate CRDs
  config/crd/bases/intent.nephio.org_networkintents.yaml
  config/crd/bases/nephoran.com_certificateautomations.yaml
  config/crd/bases/nephoran.io_audittrails.yaml
  config/crd/bases/nephoran.io_certificateautomations.yaml
  config/crd/bases/nephoran.io_cnfdeployments.yaml
  config/crd/bases/nephoran.io_e2nodesets.yaml
  config/crd/bases/nephoran.io_gitopsdeployments.yaml
  config/crd/bases/nephoran.io_intentprocessings.yaml
  config/crd/bases/nephoran.io_managedelements.yaml
  config/crd/bases/nephoran.io_manifestgenerations.yaml
  config/crd/bases/nephoran.io_networkintents.yaml
  config/crd/bases/nephoran.io_o1interfaces.yaml
  config/crd/bases/nephoran.io_resourceplans.yaml
Due: none

fix(ci): resolve SARIF file path mismatches and improve security scanning
  .github/workflows/ci-main-2025.yml
Due: none

fix(ci): resolve SARIF upload action format issue
  .github/workflows/k8s-operator-ci-2025.yml
Due: none

fix: complete resolution of CI build failures
  go.mod
  go.sum
  pkg/auth/middleware_test.go
  pkg/controllers/networkintent_cleanup_table_driven_test.go
  pkg/controllers/networkintent_cleanup_test.go
  pkg/nephio/advanced_benchmarks_test.go
  pkg/nephio/krm/runtime_comprehensive_test.go
  pkg/oran/a1/handlers_test.go
  pkg/oran/o1/adapter_test.go
  pkg/oran/o2/test_types_only.go
  pkg/porch/direct_client_test.go
Due: gosec, go-vulncheck, nancy-check, license-check, go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

fix: complete resolution of CI build failures
  .github/workflows/k8s-operator-ci-2025.yml
  go.mod
  go.sum
  pkg/controllers/networkintent_cleanup_test.go
Due: gosec, go-vulncheck, nancy-check, license-check, go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

fix: resolve remaining CI build issues and dependency conflicts
  pkg/controllers/networkintent_cleanup_test.go
  pkg/nephio/advanced_benchmarks_test.go
  pkg/nephio/blueprint/manager_comprehensive_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix: complete security scan fixes and test improvements
  pkg/controllers/networkintent_cleanup_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

chore: update generated CRDs and webhook manifests
  config/crd/bases/intent.nephio.org_networkintents.yaml
  config/crd/bases/nephoran.io_audittrails.yaml
  config/crd/bases/nephoran.io_certificateautomations.yaml
  config/crd/bases/nephoran.io_cnfdeployments.yaml
  config/crd/bases/nephoran.io_e2nodesets.yaml
  config/crd/bases/nephoran.io_gitopsdeployments.yaml
  config/crd/bases/nephoran.io_intentprocessings.yaml
  config/crd/bases/nephoran.io_managedelements.yaml
  config/crd/bases/nephoran.io_manifestgenerations.yaml
  config/crd/bases/nephoran.io_networkintents.yaml
  config/crd/bases/nephoran.io_o1interfaces.yaml
  config/crd/bases/nephoran.io_resourceplans.yaml
  config/webhook/manifests.yaml
Due: none

fix: resolve comprehensive CI build failures
  pkg/controllers/networkintent_cleanup_test.go
  pkg/controllers/networkintent_controller_comprehensive_test.go
  pkg/controllers/networkintent_edge_cases_test.go
  pkg/controllers/testutil/condition_helpers.go
  pkg/git/fake/client.go
  pkg/testutil/auth/testing.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

Delete .github/workflows/claude-code-review.yml
  .github/workflows/claude-code-review.yml
Due: none

fix: resolve build failures and missing dependencies
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250910-085509-2455/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250910-085509-2455/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250910-085509-2455/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250910-085508-1468/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250910-085508-1468/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250910-085508-1468/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250910-085509-7325/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250910-085509-7325/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250910-085509-7325/scaling-patch.yaml
  internal/loop/.conductor-state.json
Due: none

Delete .github/workflows/claude-code-review.yml (#210)
  .github/workflows/claude-code-review.yml
Due: none

chore: update conductor state timestamp
  internal/loop/.conductor-state.json
Due: none

Integrate/mvp (#211)
  .github/workflows/ci-2025.yml
  .github/workflows/ci-reliability-optimized.yml
  .github/workflows/k8s-operator-ci-2025.yml
Due: none

fix(ci): update invalid Go versions from 1.25.x/1.24.6 to valid 1.23.x
  .github/workflows/ci-2025.yml
  .github/workflows/ci-reliability-optimized.yml
  .github/workflows/pr-validation.yml
Due: none

fix(ci): improve integration validation for reliable build artifacts
  .github/workflows/ci-reliability-optimized.yml
Due: none

fix(ci): correct Kubebuilder installation in k8s-operator-ci-2025 workflow
  .github/workflows/k8s-operator-ci-2025.yml
Due: none

fix(testtools): resolve duplicate declarations and API import issues
  hack/testtools/envtest_setup.go
  hack/testtools/envtest_setup_fixed.go
  hack/testtools/envtest_setup_fixed_v2.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(integration-tests): resolve build failures and import issues
  tests/integration/integration_test_fixed.go
  tests/integration/o2_test_utils.go
  tests/integration/test_utils.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

docs: add merge conflict resolution guide for workflow files
  MERGE_CONFLICTS_RESOLVED.md
Due: none

resolve: fix merge conflicts by standardizing Go versions across all workflows
  .github/workflows/ci-production.yml
  .github/workflows/ci-ultra-optimized-2025.yml
  .github/workflows/go-module-cache.yml
  .github/workflows/k8s-operator-ci-2025.yml
  .github/workflows/main-ci-optimized-2025.yml
  .github/workflows/pr-ci-fast.yml
  .github/workflows/security-scan-optimized-2025.yml
Due: none

fix: resolve all build and vet errors, merge deploy/ into deployments/
  deployments/security/pod-security-policy.yaml
  deployments/security/secure-deployment-template.yaml
  hack/testtools/envtest_setup.go
  pkg/controllers/controllers_suite_test.go
  pkg/controllers/networkintent_cleanup_test.go
  pkg/controllers/networkintent_edge_cases_test.go
  pkg/controllers/optimized/optimized_networkintent_controller.go
  pkg/nephio/multicluster/performance_test.go
  pkg/oran/o2/test_types_only.go
  pkg/security/scanner.go
  test/envtest/networkintent_controller_test.go
  test/envtest/suite_test.go
  test/security/rbac_test.go
  tests/integration/suite_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

Path conditions:
  gosec: any of: \.go$
  go-vulncheck: any of: \.go$
  nancy-check: any of: ^(go\.mod|go\.sum)$
  license-check: any of: \.go$
  validate-golangci-config: any of: ^\.golangci.*\.ya?ml$
  syntax-check-golangci: any of: ^\.golangci.*\.ya?ml$
  lint-config-compatibility: any of: ^\.golangci.*\.ya?ml$
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: ^(go\.mod|go\.sum)$
  golangci-lint-fast: any of: \.go$
