Repository thc1006/nephoran-intent-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosec, go-vulncheck, nancy-check, license-check, validate-golangci-config, syntax-check-golangci, lint-config-compatibility, go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

gosec:
  name: Go security check (gosec)
  entry: bash -c 'gosec -fmt json -severity medium ./... || true'
  language: system
  pass_filenames: false

go-vulncheck:
  name: Go vulnerability check
  entry: bash -c 'govulncheck ./... || true'
  language: system
  pass_filenames: false

nancy-check:
  name: Nancy dependency vulnerability scan
  entry: bash -c 'go list -json -deps ./... | nancy sleuth || true'
  language: system
  pass_filenames: false

license-check:
  name: Check license compliance
  entry: bash -c 'go-licenses check ./... --disallowed_types=forbidden,restricted,reciprocal || true'
  language: system
  pass_filenames: false

validate-golangci-config:
  name: Validate golangci-lint configuration
  entry: scripts/hooks/validate-golangci-config.sh
  language: script
  pass_filenames: true
  verbose: true

syntax-check-golangci:
  name: Syntax check golangci-lint config
  entry: bash -c 'golangci-lint config path -c .golangci-fast.yml > /dev/null'
  language: system
  pass_filenames: false

lint-config-compatibility:
  name: Check golangci-lint version compatibility
  entry: scripts/hooks/check-lint-compatibility.sh
  language: script
  pass_filenames: false

go-fmt:
  name: Go Format
  entry: gofmt
  language: system
  args:
  - -w

go-vet:
  name: Go Vet
  entry: bash -c 'go vet ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
  language: system
  pass_filenames: false

golangci-lint-fast:
  name: golangci-lint (fast check on changed files)
  entry: bash -c 'golangci-lint run --config=.golangci-fast.yml --new-from-rev=HEAD~1 --timeout=2m'
  language: system
  pass_filenames: false

fix(ci): resolve CI cascading failures with proper job dependencies and environment variables
  .github/workflows/k8s-operator-ci-2025.yml
Due: none

fix(ci): comprehensive K8s operator CI timeout and compatibility fixes
  .github/security-config.yml
  .github/workflows/ci-main-2025.yml
  .github/workflows/k8s-operator-ci-2025.yml
  .github/workflows/pr-security-quick.yml
  .github/workflows/security-scan-2025-fixed.yml
  .trivyignore
  Makefile
  api/intent/v1alpha1/networkintent_webhook.go
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-181701-2882/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-181701-2882/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-181701-2882/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-181700-2793/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-181700-2793/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-181700-2793/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-181701-9137/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-181701-9137/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-181701-9137/scaling-patch.yaml
  controllers/networkintent_controller.go
  internal/loop/.conductor-state.json
  pkg/auth/performance_test.go
  scripts/test-security-workflows.sh
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): critical fixes for 26 CI failures - iteration 3
  Makefile
  pkg/auth/performance_test.go
  pkg/auth/rbac_comprehensive_test.go.disabled
  pkg/auth/security_test.go.disabled
  pkg/auth/session_manager_comprehensive_test.go.disabled
  pkg/controllers/networkintent_cleanup_table_driven_test.go
  pkg/controllers/networkintent_cleanup_test.go
  pkg/controllers/networkintent_controller_comprehensive_test.go.disabled
  pkg/controllers/networkintent_controller_comprehensive_unit_test.go.disabled
  pkg/controllers/networkintent_edge_cases_test.go.disabled
  pkg/controllers/networkintent_llm_security_test.go.disabled
  pkg/controllers/networkintent_table_driven_test.go.disabled
  pkg/git/fake/client.go
  pkg/nephio/multicluster/performance_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve 27 CI failures - critical fixes for PR #178
  .github/workflows/ci-optimized.yml
  .github/workflows/ci-ultra-optimized-2025.yml
  Makefile
Due: none

fix(ci): resolve compilation errors causing PR 176 CI failures
  api/intent/v1alpha1/deepcopy_manual.go
  pkg/templates/engine.go
  pkg/validation/yang/validator.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): comprehensive CI fixes for PR 178 - iteration 4
  .github/workflows/llm-provider-ci.yml
  Makefile
Due: none

fix(ci): resolve Go compilation errors in test files - iteration 5
  pkg/controllers/oran_controller_comprehensive_test.go
  pkg/nephio/multicluster/multicluster_comprehensive_test.go
  pkg/oran/a1/handlers_test.go
  pkg/security/race_test.go
  tests/o2/integration/multi_cloud_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve compilation errors causing PR 176 CI failures
  pkg/nephio/porch/lifecycle_manager.go
  pkg/packagerevision/integration.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve interface compatibility and type conflicts - iteration 6
  pkg/nephio/blueprint/manager_comprehensive_test.go
  pkg/nephio/krm/runtime_comprehensive_test.go
  pkg/nephio/multicluster/chaos_resilience_test.go
  pkg/nephio/multicluster/compliance_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve test syntax errors in CI validation jobs
  test/envtest/suite_test.go
  test/performance/porch/intent_performance_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve additional compilation errors in performance and envtest
  test/envtest/networkintent_controller_test.go
  test/performance/porch/intent_performance_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): ULTRA SPEED comprehensive fixes - iteration 7
  .github/workflows/ci-reliability-optimized.yml
  pkg/controllers/error_recovery_test.go
  pkg/controllers/networkintent_cleanup_table_driven_test.go
  pkg/controllers/oran_controller.go
  pkg/controllers/oran_controller_comprehensive_test.go
  pkg/nephio/blueprint/manager_comprehensive_test.go
  pkg/nephio/krm/runtime_comprehensive_test.go
  pkg/nephio/multicluster/chaos_resilience_test.go
  pkg/nephio/multicluster/compliance_test.go
  pkg/oran/a1/handlers_test.go
  pkg/oran/o1/adapter_test.go
  pkg/oran/o2/o2_manager_test.go
  pkg/security/race_test.go
  pkg/testutil/auth/testcontext_test.go
  test/security/rbac_test.go
  tests/compliance/sla_compliance_test.go
  tests/disaster-recovery/disaster_recovery_test.go
  tests/examples/modern_testing_example_test.go
  tests/o2/integration/api_endpoints_test.go
  tests/performance/benchmarks_test.go
  tests/security/tls_test_runner.go
  tests/unit/llm_test.go
  tests/validation/o2_compliance_validation_test.go
  tests/validation/sla_types.go
  tests/validation/sla_validation_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): comprehensive solution for PR 176 CI timeout failures
  .github/workflows/nephoran-ci-consolidated-2025.yml
  .gitignore
  CI-FIX-IMPLEMENTATION-SUMMARY.md
  test-ci-fix.ps1
  test-ci-fix.sh
Due: none

fix(ci): resolve JSON formatting issue in matrix strategy
  .github/workflows/nephoran-ci-consolidated-2025.yml
Due: none

fix(ci): resolve compilation errors in test files
  .github/workflows/nephoran-ci-consolidated-2025.yml
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-225421-4688/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-225421-4688/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-225421-4688/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-225421-0651/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-225421-0651/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-225421-0651/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-225421-6653/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-225421-6653/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-225421-6653/scaling-patch.yaml
  internal/loop/.conductor-state.json
  pkg/controllers/networkintent_cleanup_integration_test.go
  pkg/controllers/networkintent_cleanup_table_driven_test.go
  pkg/controllers/oran_controller_comprehensive_test.go
  pkg/controllers/oran_controller_test.go
  pkg/nephio/blueprint/manager_comprehensive_test.go
  pkg/nephio/krm/runtime_comprehensive_test.go
  pkg/nephio/multicluster/chaos_resilience_test.go
  pkg/nephio/multicluster/compliance_test.go
  pkg/nephio/multicluster/multicluster_comprehensive_test.go
  pkg/nephio/multicluster/performance_test.go
  pkg/oran/a1/handlers_test.go
  pkg/oran/o1/o1_adaptor_test.go
  pkg/oran/o2/o2_manager_test.go
  pkg/oran/o2/providers/kubernetes_test.go
  pkg/security/race_test.go
  test/security/rbac_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): ULTRA SPEED iteration 8 - Actual implementation fixes
  pkg/controllers/optimized/optimized_networkintent_controller.go
  pkg/ml/optimization_engine_load_test.go
  pkg/packagerevision/integration.go
  tests/performance/production_load_test.go
  tests/performance/race_benchmarks_test.go
  tests/validation/performance_comprehensive_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(k8s): resolve all Kubernetes validation failures
  Makefile
  api/v1/intentprocessing_types.go
  config/crd/bases/nephoran.com._audittrails.yaml
  config/crd/bases/nephoran.com._certificateautomations.yaml
  config/crd/bases/nephoran.com._cnfdeployments.yaml
  config/crd/bases/nephoran.com._e2nodesets.yaml
  config/crd/bases/nephoran.com._gitopsdeployments.yaml
  config/crd/bases/nephoran.com._intentprocessings.yaml
  config/crd/bases/nephoran.com._managedelements.yaml
  config/crd/bases/nephoran.com._manifestgenerations.yaml
  config/crd/bases/nephoran.com._networkintents.yaml
  config/crd/bases/nephoran.com._o1interfaces.yaml
  config/crd/bases/nephoran.com._resourceplans.yaml
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(k8s): scope controller-gen to API and controllers only
  Makefile
  api/v1/zz_generated.deepcopy.go
  config/rbac/role.yaml
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(k8s): resolve all kustomize validation failures
  config/crd/bases/kustomization.yaml
  config/crd/kustomization.yaml
  config/default/kustomization.yaml
  config/manager/kustomization.yaml
  config/rbac/kustomization.yaml
  config/webhook/kustomization.yaml
Due: none

fix(ci): resolve security scan failures with unified security workflow
  .github/workflows/nephoran-ci-consolidated-2025.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security-scan-unified.yml
  go.mod
Due: nancy-check, go-mod-tidy

fix(ci): MAXIMUM ACCELERATION - Kubernetes validation COMPLETE
  api/v1/intentprocessing_types.go
  api/v1/manifestgeneration_types.go
  api/v1/networkintent_cnf_types.go
  api/v1/resourceplan_types.go
  api/v1/zz_generated.deepcopy.go
  config/crd/bases/nephoran.com._intentprocessings.yaml
  config/crd/bases/nephoran.com._manifestgenerations.yaml
  config/crd/bases/nephoran.com._resourceplans.yaml
  docs/PROGRESS.md
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): INSTANT FIX - Replace govulncheck -json with -format json across all workflows
  .github/workflows/ci-main-2025.yml
  .github/workflows/pr-security-quick.yml
  .github/workflows/production-ci.yml
  .github/workflows/security-enhanced-ci.yml
  .github/workflows/security-scan-2025-fixed.yml
  .github/workflows/security-scan-fixed.yml
  .github/workflows/security-scan-optimized.yml
  .github/workflows/security-scan-unified.yml
Due: none

fix(ci): resolve Go toolchain cache conflicts causing Fast Validation failures
  .github/workflows/nephoran-ci-consolidated-2025.yml
  remaining_failure_1_fast_validation.txt
  remaining_failure_2_integration_status.txt
Due: none

🚀 FINAL ELIMINATION - Last 2 failures DESTROYED
  pkg/cnf/intent_processor.go
  pkg/controllers/networkintent_cnf_integration.go
  pkg/controllers/orchestration/intent_processing_controller.go
  pkg/controllers/orchestration/resource_planning_controller.go
  pkg/oran/a1/handlers_test.go
  pkg/oran/o1/o1_adaptor_test.go
  pkg/oran/o2/o2_manager_test.go
  pkg/oran/o2/providers/kubernetes_test.go
  pkg/testutil/auth/testcontext_test.go
  test/security/rbac_test.go
  tests/disaster-recovery/disaster_recovery_test.go
  tests/o2/integration/api_endpoints_test.go
  tests/validation/o2_compliance_validation_test.go
  tests/validation/performance_comprehensive_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve final Go compilation errors for PR 176 zero failures
  latest_failure_fast_validation.txt
  pkg/auth/performance_test.go
  pkg/controllers/networkintent_cleanup_edge_cases_test.go
  pkg/nephio/advanced_benchmarks_test.go
  pkg/nephio/blueprint/manager_comprehensive_test.go
  test/envtest/networkintent_controller_test.go
  test/performance/load_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve FINAL compilation errors for PR 176 zero failures
  final_failure_analysis.txt
  pkg/auth/performance_test.go
  pkg/controllers/networkintent_cleanup_edge_cases_test.go
  pkg/controllers/networkintent_cleanup_table_driven_test.go
  pkg/testutils/mocks.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve critical compilation errors in Fast Validation
  pkg/auth/performance_test.go
  pkg/controllers/networkintent_cleanup_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(merge): resolve merge conflicts and compilation errors
  pkg/controllers/networkintent_cleanup_table_driven_test.go
  pkg/controllers/networkintent_cnf_integration.go
  pkg/controllers/orchestration/resource_planning_controller.go
  pkg/oran/a1/handlers_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): FINAL ZERO FAILURES - complete compilation fixes
  api/v1alpha1/networkintent_types.go
  pkg/auth/performance_test.go
  pkg/auth/rbac_comprehensive_test.go
  pkg/controllers/error_recovery_test.go
  pkg/controllers/llm_processor_service_test.go
  pkg/controllers/networkintent_cleanup_edge_cases_test.go
  pkg/controllers/networkintent_cleanup_table_driven_test.go
  pkg/controllers/networkintent_cleanup_test.go
  pkg/controllers/networkintent_controller_comprehensive_test.go
  pkg/controllers/networkintent_controller_comprehensive_unit_test.go
  pkg/controllers/networkintent_edge_cases_test.go
  pkg/controllers/networkintent_llm_security_test.go
  pkg/controllers/networkintent_table_driven_test.go
  pkg/controllers/oran_controller_comprehensive_test.go
  pkg/controllers/oran_controller_test.go
  pkg/git/fake/client.go
  pkg/nephio/krm/runtime_comprehensive_test.go
  pkg/oran/o1/common_types.go
  pkg/oran/o2/providers/kubernetes_test.go
  test/integration/porch/suite_test.go
  test/performance/load_test.go
  tests/integration/suite_test.go
  tests/o2/integration/api_endpoints_test.go
  ultimate_final_failure.txt
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve Go vet compilation errors causing PR 176 CI failures
  pkg/auth/security_test.go
  pkg/nephio/advanced_benchmarks_test.go
  pkg/nephio/multicluster/chaos_resilience_test.go
  pkg/nephio/multicluster/compliance_test.go
  pkg/nephio/multicluster/multicluster_comprehensive_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(compilation): resolve all remaining compilation errors
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250905-100850-3447/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250905-100850-3447/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250905-100850-3447/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250905-100850-8223/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250905-100850-8223/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250905-100850-8223/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250905-100850-3701/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250905-100850-3701/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250905-100850-3701/scaling-patch.yaml
  internal/loop/.conductor-state.json
  internal/security/crypto.go
  internal/security/jsonlimit_test.go
  internal/security/security_test.go
  internal/security/validator.go
  pkg/oran/common.go
  pkg/oran/o1/common_types.go
  pkg/oran/o1/netconf_client.go
  pkg/oran/o1/o1_adaptor.go
  pkg/oran/o1/o1_adaptor_test.go
  pkg/oran/o1/o1_helpers.go
  pkg/oran/o2/helper_types.go
  pkg/oran/o2/models/deployments.go
  pkg/oran/o2/o2_manager_test.go
  pkg/oran/o2/providers/kubernetes_test.go
  pkg/oran/o2/providers/mock.go
  pkg/oran/o2/providers/providers_test.go
  pkg/oran/o2/test_types_only.go
  tests/disaster-recovery/disaster_recovery_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

resolve(merge): complete feat/porch-direct merge into integrate/mvp
  pkg/oran/a1/handlers_test.go
  pkg/oran/a1/types_test.go
  test/envtest/networkintent_controller_test.go
  test/envtest/suite_test.go
  tests/integration/integration_test_fixed.go
  tests/integration/o2_test_utils.go
  tests/integration/suite_test.go
  tests/integration/test_utils.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(merge): clean up remaining merge artifacts in auth tests and workflow
  pkg/auth/performance_test.go
  pkg/auth/rbac_comprehensive_test.go.disabled
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

resolve(merge): fix remaining conflicts in nephoran-ci-consolidated-2025.yml
  .github/workflows/nephoran-ci-consolidated-2025.yml
Due: none

Path conditions:
  gosec: any of: \.go$
  go-vulncheck: any of: \.go$
  nancy-check: any of: ^(go\.mod|go\.sum)$
  license-check: any of: \.go$
  validate-golangci-config: any of: ^\.golangci.*\.ya?ml$
  syntax-check-golangci: any of: ^\.golangci.*\.ya?ml$
  lint-config-compatibility: any of: ^\.golangci.*\.ya?ml$
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: ^(go\.mod|go\.sum)$
  golangci-lint-fast: any of: \.go$
