Repository thc1006/nephoran-intent-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosec, go-vulncheck, nancy-check, license-check, validate-golangci-config, syntax-check-golangci, lint-config-compatibility, go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

gosec:
  name: Go security check (gosec)
  entry: bash -c 'gosec -fmt json -severity medium ./... || true'
  language: system
  pass_filenames: false

go-vulncheck:
  name: Go vulnerability check
  entry: bash -c 'govulncheck ./... || true'
  language: system
  pass_filenames: false

nancy-check:
  name: Nancy dependency vulnerability scan
  entry: bash -c 'go list -json -deps ./... | nancy sleuth || true'
  language: system
  pass_filenames: false

license-check:
  name: Check license compliance
  entry: bash -c 'go-licenses check ./... --disallowed_types=forbidden,restricted,reciprocal || true'
  language: system
  pass_filenames: false

validate-golangci-config:
  name: Validate golangci-lint configuration
  entry: scripts/hooks/validate-golangci-config.sh
  language: script
  pass_filenames: true
  verbose: true

syntax-check-golangci:
  name: Syntax check golangci-lint config
  entry: bash -c 'golangci-lint config path -c .golangci-fast.yml > /dev/null'
  language: system
  pass_filenames: false

lint-config-compatibility:
  name: Check golangci-lint version compatibility
  entry: scripts/hooks/check-lint-compatibility.sh
  language: script
  pass_filenames: false

go-fmt:
  name: Go Format
  entry: gofmt
  language: system
  args:
  - -w

go-vet:
  name: Go Vet
  entry: bash -c 'go vet ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
  language: system
  pass_filenames: false

golangci-lint-fast:
  name: golangci-lint (fast check on changed files)
  entry: bash -c 'golangci-lint run --config=.golangci-fast.yml --new-from-rev=HEAD~1 --timeout=2m'
  language: system
  pass_filenames: false

fix(security): update digest validation to use OCI standard library
  pkg/security/digest_validator.go
  pkg/security/digest_validator_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(security): add strict digest validation and atomic file operations
  pkg/security/atomic_file.go
  pkg/security/digest_validator.go
  pkg/security/digest_validator_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(build): remove restrictive build constraint from test-lint
  cmd/test-lint/main.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): handle build constraints gracefully in workflow
  .github/workflows/nephoran-ci-consolidated-2025.yml
Due: none

test(chaos): fix resilience test assertions and race conditions
  pkg/nephio/multicluster/chaos_resilience_test.go
  pkg/nephio/multicluster/cluster_manager.go
  pkg/nephio/multicluster/customizer.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

test(krm): fix missing namespace in function configurations
  pkg/nephio/krm/runtime_comprehensive_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(monitoring): resolve metric reference errors in alerting package
  docs/monitoring/PROMETHEUS_DUPLICATE_FIX.md
  pkg/monitoring/alerting/alert_router.go
  pkg/monitoring/alerting/escalation_engine.go
  pkg/monitoring/alerting/sla_alert_manager.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

chore: tidy go.mod to fix CI dependency check
  go.mod
Due: nancy-check, go-mod-tidy

fix(ci): resolve Go module cache tar extraction errors
  .github/workflows/ci-production.yml
  .github/workflows/ci-timeout-fixed.yml
Due: none

fix(ci): resolve all PR #197 CI test failures
  .github/workflows/ci-production.yml
  .github/workflows/nephoran-ci-consolidated-2025.yml
  internal/conductor/watch_reconciler.go
  pkg/nephio/blueprint/manager.go
  pkg/nephio/krm/runtime_comprehensive_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ingest): update test schema to match ValidateBytes behavior
  internal/ingest/validator_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): run benchmarks only without tests and fix publishing permissions
  .github/workflows/test-performance-monitoring.yml
Due: none

fix(audit): make test event creation deterministic for consistent hashing
  pkg/audit/integrity_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(tests): resolve critical CI compilation and test failures
  cmd/llm-processor/main.go
  cmd/llm-processor/main_test.go
  cmd/llm-processor/security_test.go
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250908-080732-0237/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250908-080732-0237/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250908-080732-0237/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250908-080732-3255/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250908-080732-3255/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250908-080732-3255/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250908-080732-9500/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250908-080732-9500/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250908-080732-9500/scaling-patch.yaml
  internal/intent/loader.go
  internal/intent/loader_edge_case_test.go
  internal/loop/.conductor-state.json
  pkg/middleware/input_validation_test.go
  pkg/middleware/request_size_test.go
  pkg/middleware/security_suite_test.go
  pkg/nephio/blueprint/generator.go
  pkg/nephio/blueprint/manager.go
  pkg/nephio/blueprint/manager_comprehensive_test.go
  pkg/nephio/blueprint/validator.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(middleware): resolve remaining CI test failures in security middleware
  pkg/middleware/input_validation_test.go
  pkg/middleware/security_suite.go
  pkg/middleware/security_suite_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

docs(security): comprehensive GitHub workflows security audit and fixes
  GITHUB_WORKFLOWS_SECURITY_AUDIT.md
  analyze_permissions.py
  critical_workflow_fixes.patch
  internal/loop/.conductor-state.json
  workflow_permissions_patch.md
Due: none

feat(benchmarks): add JSON marshaling benchmarks for NetworkIntent API types
  api/v1alpha1/networkintent_types_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(loop): make readonly filesystem tests CI-compatible
  internal/loop/edge_case_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): disable benchmark job to unblock CI
  .github/workflows/test-performance-monitoring.yml
Due: none

fix(ci): standardize Go version to 1.24.6 across all workflows
  .github/workflows/ci-2025.yml
  .github/workflows/go-module-cache.yml
  .github/workflows/nephoran-ci-consolidated-2025.yml
  .github/workflows/oran-telecom-validation.yml
  .github/workflows/pr-validation.yml
  .github/workflows/production-ci.yml
Due: none

fix(ci): skip flaky tests temporarily to unblock CI pipeline
  .github/workflows/nephoran-ci-consolidated-2025.yml
  internal/loop/.conductor-state.json
  internal/security/security_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix: resolve critical CI/CD and test suite failures
  .github/workflows/ci-2025.yml
  .github/workflows/ci-production.yml
  .github/workflows/ci-reliability-optimized.yml
  .github/workflows/ci-timeout-fixed.yml
  .github/workflows/k8s-operator-ci-2025.yml
  .github/workflows/main-ci-optimized-2025.yml
  .github/workflows/nephoran-ci-2025-production.yml
  .github/workflows/nephoran-ci-consolidated-2025.yml
  .github/workflows/pr-validation.yml
  .github/workflows/production-ci.yml
  docs/contracts/intent.schema.json
  internal/conductor/reconciler.go
  internal/config/security_test.go
  internal/ingest/schema_validator_test.go
  internal/ingest/validator.go
  internal/ingest/validator_test.go
  internal/loop/config_security_test.go
  internal/loop/state.go
  internal/loop/state_stress_test.go
  internal/loop/watcher_test.go
  internal/patchgen/generator_concurrent_test.go
  internal/patchgen/generator_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): prevent critical tests timeout after 17m
  .github/workflows/nephoran-ci-consolidated-2025.yml
Due: none

fix(ci): disable aggregate-results job to fix CI failure
  .github/workflows/test-performance-monitoring.yml
Due: none

fix(ci): prevent performance monitoring timeout in CI
  .github/workflows/test-performance-monitoring.yml
Due: none

fix(compilation): resolve duplicate declarations and type mismatches
  go.sum
  pkg/llm/types_consolidated.go
  pkg/oran/o2/providers/mock.go
  pkg/testutil/auth/testing.go
  tests/validation/sla_methods.go.disabled
Due: gosec, go-vulncheck, nancy-check, license-check, go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

fix(compilation): resolve go vet compilation errors across codebase
  pkg/auth/jwt_manager_test.go
  pkg/controllers/networkintent_cleanup_edge_cases_test.go
  pkg/controllers/networkintent_cleanup_test.go
  pkg/nephio/blueprint/generator_nil_test.go
  pkg/nephio/blueprint/generator_race_test.go
  pkg/testutil/auth/simple_test.go
  test/envtest/networkintent_controller_test.go
  tests/unit/llm_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): correct environment variable references in Fast Validation job
  .github/workflows/ci-timeout-fixed.yml
  .github/workflows/nephoran-ci-consolidated-2025.yml
Due: none

fix(ci): emergency CI fixes to enable PR merge
  .github/workflows/ci-main-2025.yml
  .github/workflows/merge-ready.yml
  .github/workflows/nephoran-ci-2025-production.yml
  .github/workflows/nephoran-ci-consolidated-2025.yml
  .github/workflows/nephoran-master-orchestrator.yml
  Makefile.ci
Due: none

fix(schema): add description field to intent schema for test compatibility
  cmd/intent-ingest/intent.schema.json
  docs/contracts/intent.schema.json
Due: none

feat(ci): preserve disabled workflow files for reference
  .github/workflows/nephoran-ci-2025-production.yml.disabled
  .github/workflows/nephoran-ci-consolidated-2025.yml.disabled
  .github/workflows/nephoran-master-orchestrator.yml.disabled
Due: none

fix(test): remove unused import in networkintent_cleanup_test.go
  pkg/controllers/networkintent_cleanup_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): refresh PR status checks with example package updates
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250909-054205-9043/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250909-054205-9043/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250909-054205-9043/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250909-054205-8440/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250909-054205-8440/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250909-054205-8440/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250909-054205-7294/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250909-054205-7294/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250909-054205-7294/scaling-patch.yaml
  internal/loop/.conductor-state.json
Due: none

fix(ci): add temporary CI Status workflow to resolve PR merge blocking
  .github/workflows/ci-status-temp.yml
Due: none

fix(ci): resolve integration validation failures in GitHub Actions
  .github/workflows/ci-reliability-optimized.yml
Due: none

Add Claude Code GitHub Workflow (#200)
  .github/workflows/ci-reliability-optimized.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

resolve: merge conflicts for PR #205 - unified CI workflow with Go 1.24.x compatibility
  .github/workflows/ci-reliability-optimized.yml
Due: none

feat(deps): update AWS SDK EC2 service from v1.249.0 to v1.251.1
  go.mod
  go.sum
Due: nancy-check, go-mod-tidy

Path conditions:
  gosec: any of: \.go$
  go-vulncheck: any of: \.go$
  nancy-check: any of: ^(go\.mod|go\.sum)$
  license-check: any of: \.go$
  validate-golangci-config: any of: ^\.golangci.*\.ya?ml$
  syntax-check-golangci: any of: ^\.golangci.*\.ya?ml$
  lint-config-compatibility: any of: ^\.golangci.*\.ya?ml$
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: ^(go\.mod|go\.sum)$
  golangci-lint-fast: any of: \.go$
