Repository thc1006/nephoran-intent-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-golangci-config, syntax-check-golangci, lint-config-compatibility, go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

.pre-commit-config.yaml:

# Pre-commit configuration for Nephoran Intent Operator
# Prevents invalid golangci-lint configurations from being committed
# Designed for Linux Kubernetes operator development

repos:
  # Golangci-lint configuration validation
  - repo: local
    hooks:
      - id: validate-golangci-config
        name: Validate golangci-lint configuration
        entry: scripts/hooks/validate-golangci-config.sh
        language: script
        files: ^\.golangci.*\.ya?ml$
        pass_filenames: true
        verbose: true
        
      - id: syntax-check-golangci
        name: Syntax check golangci-lint config
        entry: bash -c 'golangci-lint config path -c .golangci-fast.yml > /dev/null'
        language: system
        files: ^\.golangci.*\.ya?ml$
        pass_filenames: false
        
      - id: lint-config-compatibility
        name: Check golangci-lint version compatibility
        entry: scripts/hooks/check-lint-compatibility.sh
        language: script
        files: ^\.golangci.*\.ya?ml$
        pass_filenames: false

  # Go code quality checks
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: gofmt
        language: system
        args: ["-w"]
        files: \.go$
        
      - id: go-vet
        name: Go Vet
        entry: bash -c 'go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
        language: system
        files: ^(go\.mod|go\.sum)$
        pass_filenames: false

  # Fast golangci-lint check on changed files only
  - repo: local
    hooks:
      - id: golangci-lint-fast
        name: golangci-lint (fast check on changed files)
        entry: bash -c 'golangci-lint run --config=.golangci-fast.yml --new-from-rev=HEAD~1 --timeout=2m'
        language: system
        files: \.go$
        pass_filenames: false

  # YAML validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yml]
        files: ^\.golangci.*\.ya?ml$

  # Generic checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-yaml
        files: ^\.golangci.*\.ya?ml$
      - id: end-of-file-fixer
        exclude: \.golangci.*\.ya?ml$  # Skip golangci files to avoid format changes
      - id: trailing-whitespace
        exclude: \.golangci.*\.ya?ml$  # Skip golangci files to avoid format changes

# Pre-commit configuration
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: "2.20.0"

# CI integration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [golangci-lint-fast]  # Skip in CI as it's handled by main CI pipeline
  submodules: false

fix(ci): correct golangci-lint version command usage
  .github/workflows/validate-configs.yml
  scripts/ultra-speed-comprehensive-lint.ps1
Due: none

fix(ci): ensure controller-gen is properly installed and found
  .github/workflows/ci.yml
  Makefile
Due: none

perf(ci): disable redundant workflows for faster PR merge
  .github/workflows/ci-fix.yml.disabled
  .github/workflows/ci-minimal-status.yml.disabled
  .github/workflows/ci.yml.disabled
  .github/workflows/ubuntu-ci.yml.disabled
  .github/workflows/validate-configs.yml.disabled
  go.mod
  go.sum
  pkg/monitoring/error_tracking.go
  pkg/nephio/multicluster/chaos_resilience_test.go
  pkg/nephio/multicluster/compliance_test.go
  pkg/nephio/multicluster/health_monitor.go
  pkg/nephio/multicluster/multicluster_comprehensive_test.go
  pkg/nephio/multicluster/performance_test.go
  pkg/nephio/multicluster/stubs.go
  pkg/oran/o2/providers/types.go
  scripts/disable-workflows.ps1
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

fix(ci): resolve CI failures for feat/e2e branch
  .golangci-fast.yml
  api/intent/v1alpha1/networkintent_types.go
Due: validate-golangci-config, syntax-check-golangci, lint-config-compatibility, go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve golangci-lint v1.64.3 compatibility issues
  .golangci-2025.yml
  .golangci-bypass.yml
  .golangci-test.yml
  .golangci-thorough.yml
  .golangci.yml
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250831-021124-7649/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250831-021124-7649/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250831-021124-7649/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250831-021124-5962/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250831-021124-5962/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250831-021124-5962/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250831-021124-1453/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250831-021124-1453/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250831-021124-1453/scaling-patch.yaml
  go.mod
  go.sum
Due: validate-golangci-config, syntax-check-golangci, lint-config-compatibility, go-mod-tidy

fix(ci): remove Windows-specific test files for Linux-only operator
  .github/workflows/pr-ci.yml
  Makefile
  api/intent/v1alpha1/zz_generated.deepcopy.go
  api/v1/zz_generated.deepcopy.go
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250831-034216-5762/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250831-034216-5762/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250831-034216-5762/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250831-034216-1855/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250831-034216-1855/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250831-034216-1855/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250831-034216-0101/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250831-034216-0101/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250831-034216-0101/scaling-patch.yaml
  docs/PROGRESS.md
  internal/integration/windows_ci_integration_test.go
  internal/loop/.conductor-state.json
  internal/loop/windows_concurrency_stress_test.go
  internal/loop/windows_filename_validation_test.go
  internal/loop/windows_parent_dir_comprehensive_test.go
  internal/loop/windows_path_security_test.go
  internal/loop/windows_race_test.go
  internal/pathutil/windows_path_comprehensive_test.go
  internal/pathutil/windows_path_test.go
  internal/platform/windows_command_test.go
  internal/platform/windows_powershell_comprehensive_test.go
  internal/porch/cmd_windows_test.go
  job-logs.txt
  pkg/oran/o2/providers/integration_manager.go
  pkg/oran/o2/providers/interface.go
  pkg/oran/o2/providers/registry.go
  pkg/oran/o2/providers/types.go
  pkg/rag/types.go
Due: go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve majority of compilation errors - iteration 2
  api/v1/common_types.go
  api/v1/zz_generated.deepcopy.go
  pkg/interfaces/controller.go
  pkg/monitoring/error_tracking.go
  pkg/monitoring/predictive_sla_analyzer.go
  pkg/monitoring/types.go
  pkg/nephio/porch/dependency_types.go
  pkg/oran/o1/adapter.go
  pkg/oran/o1/o1_adaptor.go
  pkg/oran/o1/o1_streaming.go
  pkg/oran/o1/smo_integration.go
  pkg/oran/o1/types.go
  pkg/oran/o2/providers/integration_manager.go
  pkg/oran/o2/providers/registry.go
  pkg/performance/benchmark_suite.go
  pkg/performance/core_test.go
  pkg/performance/example_integration.go
  pkg/performance/final_test.go
  pkg/performance/flamegraph_generator.go
  pkg/performance/missing_types.go
  pkg/performance/validation_test.go
  pkg/security/config.go
  pkg/security/http_security.go
  pkg/security/oran_wg11_compliance_engine.go
  pkg/security/types.go
  test_security.go
  tests/validation/regression_test_suite.go
  tests/validation/sla_validation_test.go
Due: go-fmt, go-vet, golangci-lint-fast

fix(k8s): resolve Kubernetes API integration issues
  controllers/go.mod
  controllers/go.sum
  go.mod
  go.sum
  pkg/cnf/go.mod
  pkg/monitoring/controller_instrumentation.go
  pkg/monitoring/missing_types.go
  pkg/monitoring/types.go
  pkg/oran/o1/netconf_server.go
  pkg/oran/o1/performance_manager.go
  pkg/oran/o1/types.go
  pkg/security/backend_implementations.go
  pkg/security/fixes.go
  pkg/security/tls_enhanced.go
  pkg/security/types.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

fix(ci): ULTRA SPEED final fix - all compilation errors resolved
  COMPILATION_FIXES.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250831-085451-2819/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250831-085451-2819/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250831-085451-2819/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250831-090555-9991/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250831-090555-9991/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250831-090555-9991/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250831-085451-2106/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250831-085451-2106/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250831-085451-2106/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250831-090555-7350/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250831-090555-7350/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250831-090555-7350/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250831-085451-4737/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250831-085451-4737/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250831-085451-4737/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250831-090555-1251/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250831-090555-1251/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250831-090555-1251/scaling-patch.yaml
  examples/auth/ldap_integration_example.go
  go.sum
  internal/ingest/schema_validator.go
  internal/ingest/schema_validator_test.go
  internal/loop/.conductor-state.json
  pkg/auth/auth_manager.go
  pkg/monitoring/controller_instrumentation.go
  pkg/monitoring/health_checker_impl.go
  pkg/monitoring/simple_metrics_collector.go
  pkg/monitoring/types.go
  pkg/security/ca/automation_engine.go
  pkg/security/ca/go.mod
  pkg/security/ca/go.sum
  pkg/security/tls_enhanced.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

fix(ci): ULTRA SPEED - Fixed all critical compilation errors
  COMPILATION_FIXES_SUMMARY.md
  go.mod
  go.sum
  pkg/monitoring/controller_instrumentation.go
  pkg/monitoring/distributed_tracing.go
  pkg/monitoring/health_checker_impl.go
  pkg/monitoring/health_checks.go
  pkg/monitoring/metrics.go
  pkg/monitoring/simple_metrics_collector.go
  pkg/monitoring/types.go
  pkg/oran/o1/types.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

fix(loop): add missing unix_path_security.go implementation
  internal/loop/unix_path_security.go
Due: go-fmt, go-vet, golangci-lint-fast

fix(ci): ULTRA SPEED MAXIMUM - Fixed all critical compilation errors
  cmd/llm-processor/security_test.go
  cmd/llm-processor/service_manager_test.go
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250831-140920-9895/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250831-140920-9895/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250831-140920-9895/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250831-140920-4231/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250831-140920-4231/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250831-140920-4231/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250831-140920-7078/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250831-140920-7078/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250831-140920-7078/scaling-patch.yaml
  internal/loop/.conductor-state.json
  pkg/config/api_keys_final.go
  pkg/health/health_checker.go
  pkg/middleware/request_size.go
  pkg/monitoring/performance_reporter.go
  pkg/monitoring/predictive_sla_analyzer.go
  pkg/monitoring/types.go
Due: go-fmt, go-vet, golangci-lint-fast

fix(ci): Fix all critical compilation errors for Go 1.24
  CLOUD_PROVIDER_DEPENDENCIES.md
  cmd/llm-processor/main_test.go
  cmd/llm-processor/service_manager_test.go
  cmd/nephio-bridge/main.go
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250831-144722-3264/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250831-144722-3264/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250831-144722-3264/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250831-144721-9763/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250831-144721-9763/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250831-144721-9763/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250831-144722-7103/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250831-144722-7103/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250831-144722-7103/scaling-patch.yaml
  go.mod
  go.sum
  internal/loop/.conductor-state.json
  internal/loop/unix_path_security_test.go
  internal/patchgen/generator_test.go
  internal/porch/executor_test.go
  internal/security/security_test.go
  job-logs.txt
  job-logs1.txt
  pkg/config/kubernetes_secrets_example.go
  pkg/oran/o1/client.go
  pkg/oran/o1/types.go
  pkg/oran/o2/go.mod
  pkg/oran/o2/models/notifications.go
  pkg/oran/o2/models/resources.go
  pkg/oran/o2/models/subscriptions.go
  pkg/security/ca/go.mod
  pkg/security/mtls/go.mod
  tests/benchmarks/performance_benchmarks_test.go
  tests/chaos/chaos_test.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

fix(deps): Add missing dependencies for CI build
  job-logs.txt
Due: none

fix(ci): HYPERDRIVE FIX - Resolved DeepCopyObject and duplicate methods
  api/v1/common_types.go
  api/v1/deepcopy_manual.go
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250831-155054-0606/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250831-155054-0606/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250831-155054-0606/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250831-155053-0563/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250831-155053-0563/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250831-155053-0563/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250831-155053-5014/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250831-155053-5014/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250831-155053-5014/scaling-patch.yaml
  pkg/shared/go124_patterns.go
  tests/chaos/sla_chaos_helpers.go
  tests/chaos/sla_chaos_methods.go
  tests/chaos/sla_chaos_types.go
Due: go-fmt, go-vet, golangci-lint-fast

fix(ci): FINAL HYPERDRIVE - All packages compile successfully
  pkg/oran/o1/o1_adaptor.go
  pkg/rag/enhanced_rag_integration.go
  pkg/rag/types.go
Due: go-fmt, go-vet, golangci-lint-fast

fix(controller-gen): Update to v0.19.0 and regenerate all CRDs and deepcopy files
  api/v1alpha1/zz_generated.deepcopy.go
Due: go-fmt, go-vet, golangci-lint-fast

fix(ci): Add GitHub authentication for private Go modules
  .github/workflows/main-ci.yml
  .github/workflows/pr-ci.yml
Due: none

fix(ci): Add GOPRIVATE for private module access
  .github/workflows/main-ci.yml
  .github/workflows/pr-ci.yml
Due: none

fix(lint): Update golangci-lint config for correct module path
  .github/workflows/main-ci.yml
  .github/workflows/pr-ci.yml
  .golangci-fast.yml
  .golangci.yml
Due: validate-golangci-config, syntax-check-golangci, lint-config-compatibility

fix(lint): Specify explicit paths for golangci-lint analysis
  .github/workflows/main-ci.yml
  .github/workflows/pr-ci.yml
  .golangci-fast.yml
Due: validate-golangci-config, syntax-check-golangci, lint-config-compatibility

fix(lint): Add robust module initialization for golangci-lint
  .github/workflows/main-ci.yml
  .github/workflows/pr-ci.yml
Due: none

fix(ci): Resolve go.sum integrity and generation checks
  .github/workflows/main-ci.yml
Due: none

fix(rag): remove duplicate type declarations and fix interface indirection
  pkg/rag/enhanced_retrieval_service.go
  pkg/rag/types.go
Due: go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve remaining compilation errors for CI pipeline
  pkg/llm/common_types.go
  pkg/llm/intelligent_cache.go
  pkg/rag/optimized_connection_pool.go
  pkg/rag/rag_service.go
  pkg/rag/semantic_reranker.go
  pkg/rag/weaviate_pool_integration_example.go
Due: go-fmt, go-vet, golangci-lint-fast

fix(llm): eliminate ALL duplicate type declarations
  pkg/llm/gpu_memory_manager.go
  pkg/llm/handler_compatibility.go
  pkg/llm/intelligent_cache.go
  pkg/llm/interface_consolidated.go
  pkg/llm/rag_disabled_stubs.go
Due: go-fmt, go-vet, golangci-lint-fast

fix(llm): eliminate final duplicate type declarations
  pkg/llm/interface_disabled.go
  pkg/llm/missing_types.go
  pkg/llm/processing.go
  pkg/llm/rag_disabled_stubs.go
Due: go-fmt, go-vet, golangci-lint-fast

fix: resolve duplicate type declarations in LLM package
  pkg/llm/gpu_metrics.go
  pkg/llm/handler_compatibility.go
  pkg/llm/interface_consolidated.go
  pkg/llm/missing_types.go
  pkg/llm/rag_enhanced_processor.go
  pkg/llm/relevance_scorer.go
  pkg/llm/types.go
  pkg/llm/worker_pool.go
Due: go-fmt, go-vet, golangci-lint-fast

fix(llm): add missing types and methods for CI compilation
  pkg/llm/cache.go
  pkg/llm/clean_stubs.go
  pkg/llm/enhanced_model_cache.go
  pkg/llm/interface_consolidated.go
Due: go-fmt, go-vet, golangci-lint-fast
