Repository thc1006/nephoran-intent-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosec, go-vulncheck, nancy-check, license-check, validate-golangci-config, syntax-check-golangci, lint-config-compatibility, go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

gosec:
  name: Go security check (gosec)
  entry: bash -c 'gosec -fmt json -severity medium ./... || true'
  language: system
  pass_filenames: false

go-vulncheck:
  name: Go vulnerability check
  entry: bash -c 'govulncheck ./... || true'
  language: system
  pass_filenames: false

nancy-check:
  name: Nancy dependency vulnerability scan
  entry: bash -c 'go list -json -deps ./... | nancy sleuth || true'
  language: system
  pass_filenames: false

license-check:
  name: Check license compliance
  entry: bash -c 'go-licenses check ./... --disallowed_types=forbidden,restricted,reciprocal || true'
  language: system
  pass_filenames: false

validate-golangci-config:
  name: Validate golangci-lint configuration
  entry: scripts/hooks/validate-golangci-config.sh
  language: script
  pass_filenames: true
  verbose: true

syntax-check-golangci:
  name: Syntax check golangci-lint config
  entry: bash -c 'golangci-lint config path -c .golangci-fast.yml > /dev/null'
  language: system
  pass_filenames: false

lint-config-compatibility:
  name: Check golangci-lint version compatibility
  entry: scripts/hooks/check-lint-compatibility.sh
  language: script
  pass_filenames: false

go-fmt:
  name: Go Format
  entry: gofmt
  language: system
  args:
  - -w

go-vet:
  name: Go Vet
  entry: bash -c 'go vet ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
  language: system
  pass_filenames: false

golangci-lint-fast:
  name: golangci-lint (fast check on changed files)
  entry: bash -c 'golangci-lint run --config=.golangci-fast.yml --new-from-rev=HEAD~1 --timeout=2m'
  language: system
  pass_filenames: false

feat(crds): update generated CRDs with controller-gen
  config/crd/bases/_networkintents.yaml
  config/crd/bases/intent.nephio.org_networkintents.yaml
  config/crd/bases/nephoran.com._audittrails.yaml
  config/crd/bases/nephoran.com._certificateautomations.yaml
  config/crd/bases/nephoran.com._cnfdeployments.yaml
  config/crd/bases/nephoran.com._e2nodesets.yaml
  config/crd/bases/nephoran.com._gitopsdeployments.yaml
  config/crd/bases/nephoran.com._intentprocessings.yaml
  config/crd/bases/nephoran.com._managedelements.yaml
  config/crd/bases/nephoran.com._manifestgenerations.yaml
  config/crd/bases/nephoran.com._networkintents.yaml
  config/crd/bases/nephoran.com._o1interfaces.yaml
  config/crd/bases/nephoran.com._resourceplans.yaml
Due: none

fix(ci): implement cache version bump and smoke test
  .github/workflows/k8s-operator-ci-2025.yml
Due: none

fix(ci): comprehensive CI and Go compilation fixes
  .github/workflows/k8s-operator-ci-2025.yml
  hack/testtools/envtest_setup_fixed.go
  hack/testtools/envtest_setup_fixed_v2.go
  tests/integration/o2_test_utils.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(e2e): remove unsupported description field from NetworkIntent
  hack/run-e2e-lightweight.sh
Due: none

fix(make): correct controller-gen paths syntax for CRD generation
  Makefile
  config/crd/bases/nephoran.com._cnfdeployments.yaml
  config/crd/bases/nephoran.com._intentprocessings.yaml
  config/crd/bases/nephoran.com._manifestgenerations.yaml
  config/crd/bases/nephoran.com._resourceplans.yaml
Due: none

fix(ci): repair change detection logic in reliability-optimized CI
  .github/workflows/ci-reliability-optimized.yml
Due: none

fix(ci): resolve ldflags syntax error in build configuration
  .github/workflows/ci-reliability-optimized.yml
Due: none

fix(ci): resolve artifact extraction in integration validation
  .github/workflows/ci-reliability-optimized.yml
Due: none

fix(test): resolve test compilation errors for CI Quick Validation
  test/envtest/networkintent_controller_test.go
  test/envtest/suite_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): update Kubebuilder version from non-existent 4.4.1 to latest 4.8.0
  .github/workflows/k8s-operator-ci-2025.yml
  Makefile.k8s-operator-2025
Due: none

fix(security): patch critical vulnerabilities GO-2025-3830 and GO-2025-3787
  SECURITY_AUDIT_REPORT.md
  go.mod
  go.sum
Due: nancy-check, go-mod-tidy

fix: comprehensive Go compilation error resolution
  cmd/conductor-loop/integration_security_test.go
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-114105-2996/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-114105-2996/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-114105-2996/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-120852-3470/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-120852-3470/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-120852-3470/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-122817-3085/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-122817-3085/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-122817-3085/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-114104-0013/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-114104-0013/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-114104-0013/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-120850-0260/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-120850-0260/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-120850-0260/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-122816-9040/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-122816-9040/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-122816-9040/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-114105-6347/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-114105-6347/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-114105-6347/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-120852-9817/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-120852-9817/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-120852-9817/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-122817-5258/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-122817-5258/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-122817-5258/scaling-patch.yaml
  hack/testtools/envtest_setup.go
  internal/loop/.conductor-state.json
  pkg/audit/backends/backend_integration_test.go
  pkg/oran/a1/handlers_test.go
  pkg/oran/a1/types_test.go
  pkg/oran/a1/validation_test.go
  tests/disaster-recovery/disaster_recovery_test_fixed.go
  tests/integration/integration_test_fixed.go
  tests/integration/o2_test_utils.go
  tools/test-import-cycle/main.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(make): add missing generate target for RBAC generation
  Makefile
Due: none

fix(rbac): update role name to match Makefile configuration
  config/rbac/role.yaml
Due: none

fix(kustomize): remove references to non-existent patch files
  config/webhook/kustomization.yaml
Due: none

fix: Critical interface implementation and type safety fixes
  internal/loop/.conductor-state.json
  pkg/auth/middleware_test.go
  pkg/nephio/configsync_client.go
  pkg/nephio/krm/functions/function_sdk.go
  pkg/nephio/krm/functions/network-slice-config.go
  pkg/nephio/krm/functions/oran_optimizers.go
  pkg/nephio/nephio_integration.go
  pkg/nephio/package_catalog.go
  pkg/nephio/porch/client.go
  pkg/nephio/porch/content_manager.go
  pkg/nephio/porch/deepcopy.go
  pkg/nephio/porch/testutil/test_helpers.go
  pkg/nephio/porch/types.go
  pkg/nephio/testutil/porch_mocks.go
  pkg/nephio/workflow_orchestrator.go
  pkg/oran/a1/handlers_test.go
  pkg/oran/a1/types_test.go
  pkg/oran/o1/o1_adaptor_test.go
  pkg/oran/o2/providers/providers_test.go
  pkg/porch/types.go
  pkg/testutil/porch/mocks.go
  tests/integration/integration_test_fixed.go
  tests/integration/o2_test_utils.go
  tests/integration/test_utils.go
  tests/o2/integration/api_endpoints_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

feat: massive parallel agent fixes - ULTRA SPEED MODE complete
  .github/workflows/k8s-operator-ci-2025.yml
  api/intent/v1alpha1/webhook_test.go
  hack/testtools/envtest_setup.go
  hack/testtools/envtest_setup_fixed_v2.go
  test/chaos/resilience_test.go
  test/envtest/suite_test.go
  test/integration/porch/intent_reconciliation_test.go
  test/integration/porch/resilience_test.go
  test/integration/porch/suite_test.go
  test/integration/porch_integration_test.go
  test/integration/system_test.go
  test/performance/load_test.go
  test/performance/porch/intent_performance_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(kustomize): correct webhook configuration names in JSON patches
  config/default/kustomization.yaml
Due: none

fix(kustomize): simplify configuration by removing complex JSON patches
  config/default/kustomization.yaml
Due: none

fix(krm): resolve type compatibility errors in pipeline and porch integration
  pkg/nephio/krm/pipeline.go
  pkg/nephio/krm/pipeline_orchestrator.go
  pkg/nephio/krm/porch_integration.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(webhook): resolve CI kustomize validation errors
  config/webhook/deployment.yaml
  config/webhook/kustomization.yaml
Due: none

fix(ci): resolve Kubebuilder v4.8.0 404 error and CGO_ENABLED race testing issues
  .github/workflows/ci-reliability-optimized.yml
  .github/workflows/ci-ultra-optimized-2025.yml
  .github/workflows/k8s-operator-ci-2025.yml
  .github/workflows/ubuntu-ci.yml
  Makefile.k8s-operator-2025
Due: none

fix(manifests): update generated CRD and RBAC manifests
  api/intent/v1alpha1/zz_generated.deepcopy.go
  api/v1/zz_generated.deepcopy.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/_networkintents.yaml
  config/crd/bases/intent.nephio.org_networkintents.yaml
  config/crd/bases/nephoran.com._audittrails.yaml
  config/crd/bases/nephoran.com._certificateautomations.yaml
  config/crd/bases/nephoran.com._cnfdeployments.yaml
  config/crd/bases/nephoran.com._e2nodesets.yaml
  config/crd/bases/nephoran.com._gitopsdeployments.yaml
  config/crd/bases/nephoran.com._intentprocessings.yaml
  config/crd/bases/nephoran.com._managedelements.yaml
  config/crd/bases/nephoran.com._manifestgenerations.yaml
  config/crd/bases/nephoran.com._networkintents.yaml
  config/crd/bases/nephoran.com._o1interfaces.yaml
  config/crd/bases/nephoran.com._resourceplans.yaml
  config/webhook/deployment.yaml
  config/webhook/kustomization.yaml
  config/webhook/manifests.yaml
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(tests): resolve compilation errors in test files
  pkg/auth/middleware_test.go
  pkg/controllers/networkintent_cleanup_edge_cases_test.go
  pkg/controllers/networkintent_cleanup_test.go
  pkg/controllers/networkintent_controller_comprehensive_unit_test.go
  pkg/llm/circuit_breaker_advanced_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve Go version and cache issues in K8s operator CI
  .github/workflows/k8s-operator-ci-2025.yml
Due: none

fix(kustomize): resolve webhook deployment strategic merge patch errors
  .github/workflows/ci-reliability-optimized.yml
  .github/workflows/k8s-operator-ci-2025.yml
  Makefile
  config/certmanager/kustomizeconfig.yaml
  config/crd/bases/kustomization.yaml
  config/crd/kustomization.yaml
  config/crd/patches/.gitkeep
  config/default/kustomization.yaml
  config/manager/kustomization.yaml
  config/rbac/kustomization.yaml
  config/rbac/role_binding.yaml
  config/samples/certificate_automation_examples.yaml
  config/webhook/deployment.yaml
  config/webhook/kustomization.yaml
  docs/contracts/README.md
  docs/contracts/intent.schema.json
  scripts/validate-contracts.sh
Due: none

fix(ci): resolve cache permission issues and Go toolchain conflicts
  .github/workflows/k8s-operator-ci-2025.yml
Due: none

fix(ci): resolve Quick Validation CI failure
  .github/workflows/ci-optimized.yml
Due: none

fix(ci): resolve critical security scan failures by fixing Go version
  .github/workflows/ci-reliability-optimized.yml
  .github/workflows/k8s-operator-ci-2025.yml
  go.mod
Due: nancy-check, go-mod-tidy

fix(ci): comprehensive CI fixes for PR 178 - Kubebuilder v4.8.0, Docker build, SARIF upload, and test compilation
  .github/workflows/k8s-operator-ci-2025.yml
  Dockerfile
  Makefile
  api/intent/v1alpha1/networkintent_webhook.go
  api/intent/v1alpha1/webhook_test.go
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-145646-5148/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-145646-5148/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-145646-5148/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-151219-4880/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-151219-4880/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-151219-4880/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-145646-4136/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-145646-4136/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-145646-4136/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-151218-2448/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-151218-2448/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-151218-2448/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-145646-8589/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-145646-8589/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-145646-8589/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-151219-0423/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-151219-0423/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-151219-0423/scaling-patch.yaml
  internal/loop/.conductor-state.json
  internal/security/jsonlimit.go
  internal/security/jsonlimit_test.go
  internal/ves/event_test.go
  pkg/auth/middleware_test.go
  pkg/auth/performance_test.go
  pkg/controllers/networkintent_cleanup_table_driven_test.go
  pkg/nephio/advanced_benchmarks_test.go
  pkg/nephio/blueprint/manager_comprehensive_test.go
  pkg/nephio/package_generator.go
  pkg/nephio/package_generator_test.go
  pkg/testutil/auth/testing.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve cache deprecation warnings and increase timeouts
  .github/workflows/k8s-operator-ci-2025.yml
Due: none

fix(ci): resolve CI status reporting failures and dependency issues
  .github/workflows/ci-reliability-optimized.yml
  .github/workflows/k8s-operator-ci-2025.yml
Due: none

fix(ci): upgrade Go version from 1.23.x to 1.24.x to resolve dependency conflicts
  .github/workflows/ci-reliability-optimized.yml
  .github/workflows/k8s-operator-ci-2025.yml
  go.mod
Due: nancy-check, go-mod-tidy

fix(go): update Go version to 1.24 for compatibility with dependencies
  scripts/monitor-ci.ps1
  scripts/monitor-ci.sh
Due: none

fix(ci): critical Go version fix - update to Go 1.24.6
  .github/workflows/k8s-operator-ci-2025.yml
Due: none

fix(ci): resolve Quick Validation failure by adding go mod tidy step
  .github/workflows/ci-optimized.yml
  go.mod
Due: nancy-check, go-mod-tidy

fix(ci): comprehensive fixes for all 23 CI failures - iteration 2
  .github/security-policy-fixed.yml
  .github/workflows/ci-production.yml
  .github/workflows/ci-reliability-optimized.yml
  .github/workflows/container-security-enhanced.yml
  .github/workflows/container-security-fixed.yml
  .github/workflows/k8s-operator-ci-2025.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security-scan-comprehensive.yml
  .github/workflows/security-scan-fixed.yml
  Makefile
  SECURITY-FIXES-SUMMARY.md
  api/intent/v1alpha1/deepcopy_manual.go
  api/intent/v1alpha1/groupversion_info.go
  api/intent/v1alpha1/networkintent_types.go
  api/intent/v1alpha1/zz_generated.deepcopy.go
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-165215-1490/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-165215-1490/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250904-165215-1490/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-165215-7929/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-165215-7929/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250904-165215-7929/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-165215-3476/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-165215-3476/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250904-165215-3476/scaling-patch.yaml
  go.mod
  internal/loop/.conductor-state.json
  internal/security/command.go
  internal/security/crypto.go
  internal/security/jsonlimit_test.go
  internal/security/validator.go
  pkg/nephio/package_generator.go
  pkg/nephio/porch/porchtest/test_helpers.go
  scripts/verify-security-scans.sh
  test_imports.go
Due: gosec, go-vulncheck, nancy-check, license-check, go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

fix(api): resolve duplicate DeepCopyObject method declaration
  .github/workflows/k8s-operator-ci-2025.yml
  .trivyignore
  api/intent/v1alpha1/deepcopy_manual.go
  api/intent/v1alpha1/networkintent_webhook.go
  api/intent/v1alpha1/webhook_test.go
  api/intent/v1alpha1/webhook_test_fixed.go
  api/intent/v1alpha1/zz_generated.deepcopy.go
  e2e-test-logs.txt
  pr-validation-logs.txt
  test/envtest/networkintent_controller_test.go
  test/envtest/suite_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(ci): optimize Quick Validation with 2025 chunked build strategy
  .github/workflows/ci-optimized.yml
Due: none

Path conditions:
  gosec: any of: \.go$
  go-vulncheck: any of: \.go$
  nancy-check: any of: ^(go\.mod|go\.sum)$
  license-check: any of: \.go$
  validate-golangci-config: any of: ^\.golangci.*\.ya?ml$
  syntax-check-golangci: any of: ^\.golangci.*\.ya?ml$
  lint-config-compatibility: any of: ^\.golangci.*\.ya?ml$
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: ^(go\.mod|go\.sum)$
  golangci-lint-fast: any of: \.go$
