Repository thc1006/nephoran-intent-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosec, go-vulncheck, nancy-check, license-check, validate-golangci-config, syntax-check-golangci, lint-config-compatibility, go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

Path conditions:
  gosec: any of: \.go$
  go-vulncheck: any of: \.go$
  nancy-check: any of: ^(go\.mod|go\.sum)$
  license-check: any of: \.go$
  validate-golangci-config: any of: ^\.golangci.*\.ya?ml$
  syntax-check-golangci: any of: ^\.golangci.*\.ya?ml$
  lint-config-compatibility: any of: ^\.golangci.*\.ya?ml$
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: ^(go\.mod|go\.sum)$
  golangci-lint-fast: any of: \.go$

feat(controllers): add finalizer and update support for A1 policies
  api/intent/v1alpha1/networkintent_types.go
  api/intent/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha1/networkintent_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/_networkintents.yaml
  config/crd/bases/intent.nephoran.com_networkintents.yaml
  config/crd/bases/nephoran.io_audittrails.yaml
  config/crd/bases/nephoran.io_certificateautomations.yaml
  config/crd/bases/nephoran.io_cnfdeployments.yaml
  config/crd/bases/nephoran.io_e2nodesets.yaml
  config/crd/bases/nephoran.io_gitopsdeployments.yaml
  config/crd/bases/nephoran.io_intentprocessings.yaml
  config/crd/bases/nephoran.io_managedelements.yaml
  config/crd/bases/nephoran.io_manifestgenerations.yaml
  config/crd/bases/nephoran.io_networkintents.yaml
  config/crd/bases/nephoran.io_o1interfaces.yaml
  config/crd/bases/nephoran.io_resourceplans.yaml
  config/webhook/manifests.yaml
  controllers/networkintent_controller.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

docs: update PROGRESS.md with finalizer enhancement
  docs/PROGRESS.md
Due: none

docs: add immediate enhancements completion report
  IMMEDIATE_ENHANCEMENTS_COMPLETE.md
Due: none

docs: record merge completion in PROGRESS.md
  docs/PROGRESS.md
Due: none

docs(validation): complete E2E validation with 100% pass rate
  docs/E2E_VALIDATION_REPORT.md
  docs/PROGRESS.md
  tests/e2e/bash/test-intent-lifecycle.sh
  tests/e2e/bash/test-rag-pipeline.sh
Due: none

chore(deps): upgrade Kubernetes to 1.35.1 and controller-runtime to 0.23.1
  api/intent/v1alpha1/networkintent_webhook.go
  api/v1/networkintent_webhook.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/networkintent_types_test.go
  config/crd/bases/intent.nephoran.com_networkintents.yaml
  docs/PROGRESS.md
  go.mod
  go.sum
Due: gosec, go-vulncheck, nancy-check, license-check, go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

fix(webhooks): resolve nil pointer panic and test failures
  pkg/webhooks/networkintent_webhook.go
  pkg/webhooks/networkintent_webhook_comprehensive_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

docs: update PROGRESS.md for webhook fixes
  docs/PROGRESS.md
Due: none

fix(webhooks): resolve remaining test failures in networkintent_webhook_test.go
  pkg/webhooks/networkintent_webhook.go
  pkg/webhooks/networkintent_webhook_comprehensive_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

docs(progress): update progress log for webhook test fixes
  docs/PROGRESS.md
Due: none

fix(build): resolve critical build errors after K8s 1.35 upgrade
  docs/design/ORAN_INTEGRATION_PLAN.md
  docs/design/ORAN_INTEGRATION_SUMMARY.md
  docs/design/ORAN_INTEGRATION_TASKS.md
  docs/implementation/ORAN_PHASE1_FILE_STRUCTURE.md
  docs/implementation/ORAN_PHASE1_TASKS.md
  go.mod
  go.sum
  pkg/rag/client.go
  pkg/rag/minimal_interface.go
  test/integration/mocks/nephio_mocks.go
  tests/mocks/client.go
Due: gosec, go-vulncheck, nancy-check, license-check, go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

fix(tests): resolve TestQueueOverflow nil pointer and race condition
  pkg/audit/audit_system_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

docs: update progress log for build fixes
  docs/PROGRESS.md
Due: none

fix(ci): resolve root allowlist validation failure
  VERSION_MANIFEST.md
  benchmarks/gpu-performance.md
  benchmarks/gpu_during_concurrent_2.txt
  benchmarks/gpu_during_concurrent_4.txt
  benchmarks/llm-benchmark.sh
  benchmarks/llm-concurrent-benchmark.sh
  benchmarks/llm-inference.md
  benchmarks/llm-raw-results.json
  benchmarks/weaviate-benchmark.py
  benchmarks/weaviate-performance.md
  benchmarks/weaviate-raw-results.json
  ci/root-allowlist.txt
  docs/PROGRESS.md
  k8s/rag-service/configmap.yaml
  k8s/rag-service/deployment.yaml
  k8s/rag-service/namespace.yaml
  k8s/rag-service/service.yaml
  reports/pre-ric/e2e-summary.json
  reports/pre-ric/e2e-summary.txt
Due: none

chore(deps): upgrade Kubernetes to 1.35.1 and controller-runtime to 0.23.1 (#346)
  VERSION_MANIFEST.md
  api/intent/v1alpha1/networkintent_webhook.go
  api/v1/networkintent_webhook.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/networkintent_types_test.go
  benchmarks/gpu-performance.md
  benchmarks/gpu_during_concurrent_2.txt
  benchmarks/gpu_during_concurrent_4.txt
  benchmarks/llm-benchmark.sh
  benchmarks/llm-concurrent-benchmark.sh
  benchmarks/llm-inference.md
  benchmarks/llm-raw-results.json
  benchmarks/weaviate-benchmark.py
  benchmarks/weaviate-performance.md
  benchmarks/weaviate-raw-results.json
  ci/root-allowlist.txt
  config/crd/bases/intent.nephoran.com_networkintents.yaml
  docs/PROGRESS.md
  docs/design/ORAN_INTEGRATION_PLAN.md
  docs/design/ORAN_INTEGRATION_SUMMARY.md
  docs/design/ORAN_INTEGRATION_TASKS.md
  docs/implementation/ORAN_PHASE1_FILE_STRUCTURE.md
  docs/implementation/ORAN_PHASE1_TASKS.md
  go.mod
  go.sum
  k8s/rag-service/configmap.yaml
  k8s/rag-service/deployment.yaml
  k8s/rag-service/namespace.yaml
  k8s/rag-service/service.yaml
  pkg/audit/audit_system_test.go
  pkg/rag/client.go
  pkg/rag/minimal_interface.go
  pkg/webhooks/networkintent_webhook.go
  pkg/webhooks/networkintent_webhook_comprehensive_test.go
  reports/pre-ric/e2e-summary.json
  reports/pre-ric/e2e-summary.txt
  test/integration/mocks/nephio_mocks.go
  tests/mocks/client.go
Due: gosec, go-vulncheck, nancy-check, license-check, go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

docs(5g): SDD 2026 implementation blueprint with SMO decision
  docs/5G_INTEGRATION_PLAN.md
  docs/5G_INTEGRATION_PLAN_V2.md
  docs/BUG_FIXES_2026-02-16.md
  docs/K8S_135_RIC_API_MIGRATION.md
  docs/PROGRESS.md
  docs/dependencies/compatibility-matrix.yaml
  docs/implementation/task-dag.yaml
  scripts/checkpoint-validator.sh
Due: none

docs(security): K8s 1.35 security audit and production checklist
  docs/security/k8s-135-audit.md
  docs/security/k8s-135-production-checklist.md
  tests/security/k8s_135_webhook_security_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

docs(5g): SDD 2026 5G integration plan + K8s 1.35 security audit (#350)
  docs/5G_INTEGRATION_PLAN.md
  docs/5G_INTEGRATION_PLAN_V2.md
  docs/BUG_FIXES_2026-02-16.md
  docs/K8S_135_RIC_API_MIGRATION.md
  docs/PROGRESS.md
  docs/dependencies/compatibility-matrix.yaml
  docs/implementation/task-dag.yaml
  docs/security/k8s-135-audit.md
  docs/security/k8s-135-production-checklist.md
  scripts/checkpoint-validator.sh
  tests/security/k8s_135_webhook_security_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(tests): create 7 missing E2E test scripts for SDD execution
  docs/PROGRESS.md
  tests/e2e/bash/test-a1-integration.sh
  tests/e2e/bash/test-cilium-performance.sh
  tests/e2e/bash/test-free5gc-cp.sh
  tests/e2e/bash/test-free5gc-up.sh
  tests/e2e/bash/test-oai-connectivity.sh
  tests/e2e/bash/test-oai-ran.sh
  tests/e2e/bash/test-pdu-session.sh
Due: none

feat(sdd): Phase 2 execution improvements - complete SDD 2026 compliance
  docs/5G_INTEGRATION_PLAN_V2.md
  docs/K8S_VERSION_NOTE.md
  docs/PROGRESS.md
  docs/SDD_EXECUTION_IMPROVEMENTS.md
  docs/dependencies/compatibility-matrix.yaml
  docs/implementation/task-dag.yaml
  scripts/checkpoint-validator.sh
Due: none

feat(sdd): Phase 3 perfection - achieve 100/100 execution thoroughness
  docs/5G_INTEGRATION_PLAN_V2.md
  docs/PHASE2_COMPLETION_REPORT.md
  docs/PROGRESS.md
  docs/SBOM_GENERATION_GUIDE.md
  docs/implementation/task-dag.yaml
Due: none

docs: fix broken markdown links in Security Architecture section
  docs/5G_INTEGRATION_PLAN_V2.md
Due: none

docs(progress): record PR #352 merge completion
  docs/PROGRESS.md
Due: none

docs(claude): rewrite CLAUDE.md with 2026 context and actual deployment state
  CLAUDE.md
Due: none

docs(progress): record CLAUDE.md rewrite completion
  docs/PROGRESS.md
Due: none

feat(ollama): deploy Ollama v0.16.1 with GPU support
  deployments/ollama/README.md
  deployments/ollama/values.yaml
Due: none

docs(progress): record Ollama v0.16.1 deployment completion
  docs/PROGRESS.md
Due: none

fix(tests): resolve pre-existing test failures in cnf, blueprint, multicluster
  docs/PROGRESS.md
  pkg/cnf/orchestrator_test.go
  pkg/nephio/blueprint/manager_comprehensive_test.go
  pkg/nephio/multicluster/chaos_resilience_test.go
  pkg/nephio/multicluster/compliance_test.go
  pkg/nephio/multicluster/multicluster_comprehensive_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(tests): fix internal/porch test failures - context cancel, mode normalization, path validation
  docs/PROGRESS.md
  internal/porch/executor.go
  internal/porch/executor_security_test.go
  internal/porch/executor_test.go
  internal/porch/writer_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(sla): fix zero-interval NewTicker panics in StorageManager and Tracker
  docs/PROGRESS.md
  pkg/monitoring/sla/service.go
  pkg/monitoring/sla/storage.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(internal/loop): fix all test failures in watcher test suite
  docs/PROGRESS.md
  internal/loop/sync_examples_test.go
  internal/loop/watcher.go
  internal/loop/watcher_test.go
  internal/loop/watcher_validation_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(internal/loop): commit remaining test file fixes for full suite stability
  internal/loop/.conductor-state.json
  internal/loop/edge_case_test.go
  internal/loop/security_unit_test.go
  internal/loop/security_validation_test.go
  internal/loop/state_concurrency_test.go
  internal/loop/state_stress_test.go
  internal/loop/status_filename_test.go
  internal/loop/status_naming_test.go
  internal/loop/unix_path_security_test.go
  internal/loop/validation_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

docs(progress): internal/loop all tests stable under parallel load
  docs/PROGRESS.md
Due: none

fix(tests): fix pkg/monitoring/alerting, llm/providers, and planner/security
  internal/llm/providers/offline.go
  pkg/monitoring/alerting/alert_router.go
  pkg/monitoring/alerting/burn_rate_calculator.go
  pkg/monitoring/alerting/predictive_alerting.go
  pkg/monitoring/alerting/sla_alert_manager.go
  pkg/monitoring/alerting/sla_alert_system_test.go
  planner/internal/security/validation_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

docs(progress): record SLA alerting, LLM providers, and security fixes
  docs/PROGRESS.md
Due: none

fix(controllers): make all TestNetworkIntentEdgeCases tests pass
  pkg/controllers/gitops_handler.go
  pkg/controllers/llm_processor.go
  pkg/controllers/llm_processor_controller_test.go
  pkg/controllers/networkintent_edge_cases_test.go
  pkg/controllers/reconciler.go
  pkg/controllers/resource_planner.go
  pkg/testutils/mocks.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

docs(progress): record TestNetworkIntentEdgeCases fix completion
  docs/PROGRESS.md
Due: none

fix(security): fix all 33 planner/internal/security test failures
  docs/PROGRESS.md
  planner/internal/security/attack_simulation_test.go
  planner/internal/security/file_permissions_test.go
  planner/internal/security/input_validation_extended_test.go
  planner/internal/security/performance_security_test.go
  planner/internal/security/validation_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast

fix(tests): fix patchgen timestamp expectation, conductor source, and handoff validation tests
  cmd/conductor-loop/validation_test.go
  docs/PROGRESS.md
  internal/conductor/watch_reconciler_test.go
  internal/patchgen/generator_test.go
Due: gosec, go-vulncheck, license-check, go-fmt, go-vet, golangci-lint-fast
