Repository thc1006/nephoran-intent-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-golangci-config, syntax-check-golangci, lint-config-compatibility, go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

.pre-commit-config.yaml:

# Pre-commit configuration for Nephoran Intent Operator
# Prevents invalid golangci-lint configurations from being committed
# Designed for Linux Kubernetes operator development

repos:
  # Golangci-lint configuration validation
  - repo: local
    hooks:
      - id: validate-golangci-config
        name: Validate golangci-lint configuration
        entry: scripts/hooks/validate-golangci-config.sh
        language: script
        files: ^\.golangci.*\.ya?ml$
        pass_filenames: true
        verbose: true
        
      - id: syntax-check-golangci
        name: Syntax check golangci-lint config
        entry: bash -c 'golangci-lint config path -c .golangci-fast.yml > /dev/null'
        language: system
        files: ^\.golangci.*\.ya?ml$
        pass_filenames: false
        
      - id: lint-config-compatibility
        name: Check golangci-lint version compatibility
        entry: scripts/hooks/check-lint-compatibility.sh
        language: script
        files: ^\.golangci.*\.ya?ml$
        pass_filenames: false

  # Go code quality checks
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: gofmt
        language: system
        args: ["-w"]
        files: \.go$
        
      - id: go-vet
        name: Go Vet
        entry: bash -c 'go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
        language: system
        files: ^(go\.mod|go\.sum)$
        pass_filenames: false

  # Fast golangci-lint check on changed files only
  - repo: local
    hooks:
      - id: golangci-lint-fast
        name: golangci-lint (fast check on changed files)
        entry: bash -c 'golangci-lint run --config=.golangci-fast.yml --new-from-rev=HEAD~1 --timeout=2m'
        language: system
        files: \.go$
        pass_filenames: false

  # YAML validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yml]
        files: ^\.golangci.*\.ya?ml$

  # Generic checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-yaml
        files: ^\.golangci.*\.ya?ml$
      - id: end-of-file-fixer
        exclude: \.golangci.*\.ya?ml$  # Skip golangci files to avoid format changes
      - id: trailing-whitespace
        exclude: \.golangci.*\.ya?ml$  # Skip golangci files to avoid format changes

# Pre-commit configuration
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: "2.20.0"

# CI integration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [golangci-lint-fast]  # Skip in CI as it's handled by main CI pipeline
  submodules: false

fix(ci): update golangci-lint to v1.64.3
  .github/workflows/main-ci.yml
  .github/workflows/pr-ci.yml
  .github/workflows/ubuntu-ci.yml
Due: none

fix(deps): resolve all Go module dependency issues
  go.mod
  go.sum
  pkg/edge/go.mod
  pkg/edge/go.sum
  pkg/errors/go.mod
Due: go-mod-tidy

fix(tests): resolve critical test compilation errors
  .claude/settings.local.json
  CI_FIX_LOOP.md
  CUserstingydev_worktreesnephoranfeat-e2eCI_FIX_LOOP.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250902-031916-8439/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250902-031916-8439/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250902-031916-8439/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250902-031916-6629/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250902-031916-6629/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250902-031916-6629/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250902-031916-0740/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250902-031916-0740/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250902-031916-0740/scaling-patch.yaml
  go.mod
  go.sum
  pkg/auth/docker/README.md
  pkg/auth/docker/example.go
  pkg/auth/docker/login.go
  pkg/auth/docker/login_test.go
  pkg/auth/docker/login_tls.go
  pkg/auth/jwt_manager_test.go
  pkg/auth/middleware.go
  pkg/auth/types.go
  pkg/controllers/e2nodeset_controller.go
  pkg/controllers/error_recovery_test.go
  pkg/controllers/networkintent_controller.go
  pkg/controllers/networkintent_controller_comprehensive_test.go
  pkg/nephio/package_generator_test.go
  pkg/testutil/auth/testing.go
  pkg/testutils/helpers.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

fix(auth): resolve JWT interface mismatches and add test-compatible middleware
  pkg/auth/middleware.go
  pkg/auth/middleware_test_compat.go
Due: go-fmt, go-vet, golangci-lint-fast

feat(ci): implement comprehensive CI fix loop system
  CI_FIX_LOOP.md
  ci-fix-loop.ps1
  ci-status.ps1
  ci.ps1
Due: none

fix(ci): iteration 6 - final compilation fixes
  MIDDLEWARE_TEST_FIXES.md
  pkg/auth/middleware_test.go
  pkg/controllers/testutil/test_helpers.go
  pkg/rag/base_types.go
  pkg/rag/minimal_stubs.go
  pkg/rag/rag_service.go
  tests/unit/controllers_test.go
  tests/unit/controllers_test_backup.go
  tests/unit/llm_test_backup.go
  tests/validation/deployment_scenarios_validator.go
  tests/validation/o2_compliance_validation_test.go
  tests/validation/oran_interface_validator.go
  tests/validation/performance_benchmarker.go
  tests/validation/sla_types.go
  tests/validation/sla_validation_test.go
Due: go-fmt, go-vet, golangci-lint-fast

fix(ci): add missing go.mod files for submodules
  api/go.mod
  pkg/controllers/interfaces/go.mod
  pkg/edge/go.mod
  pkg/errors/go.mod
  pkg/rag/go.mod
Due: none

fix(deps): clean go.mod for CI - remove unnecessary dependencies
  go.mod
  go.sum
Due: go-mod-tidy

fix(syntax): resolve ALL critical syntax errors from json.RawMessage conversions
  internal/ingest/intent_nlp.go
  internal/ingest/provider.go
  internal/loop/watcher.go
  internal/porch/client.go
  internal/porch/writer.go
  pkg/auth/auth_manager.go
  pkg/auth/jwt_manager.go
  pkg/auth/manager.go
  pkg/middleware/security_example.go
  pkg/security/compliance_manager.go
  pkg/security/llm_sanitizer.go
Due: go-fmt, go-vet, golangci-lint-fast

fix(critical): resolve all json.RawMessage and syntax errors for CI
  CI_FIX_LOOP.md
  cmd/performance-comparison/main.go
  cmd/secure-porch-patch/main.go
  internal/fcaps/processor.go
  internal/generator/kptfile.go
  internal/loop/benchmark_test.go
  internal/loop/config_security_test.go
  internal/loop/coordinator_buffer_test.go
  internal/loop/critical_fixes_validation_test.go
  internal/loop/once_mode_sync.go
  internal/loop/watcher.go
  internal/patch/generator.go
  pkg/audit/backends/elasticsearch.go
  pkg/audit/compliance/trackers.go
  pkg/audit/types/events.go
  pkg/auth/providers/azuread.go
  pkg/auth/providers/google.go
  pkg/auth/providers/ldap.go
  pkg/auth/providers/ldap_pool.go
  pkg/config/validation.go
  pkg/context/enhanced_context.go
  pkg/errors/advanced_recovery.go
  pkg/middleware/input_validation.go
  pkg/middleware/rate_limit.go
  pkg/middleware/redact_logger.go
  pkg/middleware/security_example.go
  pkg/monitoring/latency/e2e_tracker.go
  pkg/nephio/multicluster/customizer.go
  pkg/oran/o2/models/runtime.go
  pkg/oran/smo_manager.go
  pkg/porch/client.go
  pkg/servicemesh/istio/istio.go
Due: go-fmt, go-vet, golangci-lint-fast

fix(syntax): resolve ALL remaining syntax errors in pkg/llm and pkg/monitoring
  pkg/llm/client_consolidated.go
  pkg/llm/llm.go
  pkg/llm/multi_level_cache.go
  pkg/llm/optimized_controller.go
  pkg/llm/performance_benchmarks.go
  pkg/llm/rag_enhanced_processor.go
  pkg/llm/relevance_scorer.go
  pkg/monitoring/nwdaf_analytics_engine.go
Due: go-fmt, go-vet, golangci-lint-fast

fix(final): resolve LAST remaining syntax errors across all packages
  cmd/llm-processor/main.go
  pkg/cnf/orchestrator.go
  pkg/nephio/client.go
  pkg/nephio/configsync_client.go
  pkg/nephio/package_catalog.go
  pkg/nephio/package_generator.go
  pkg/nephio/porch/client.go
  pkg/security/incident_response.go
  pkg/servicemesh/istio/istio.go
  pkg/servicemesh/policies/manager.go
  tests/performance/validation/config.go
  tests/performance/validation/test_runner.go
  tools/vessend/cmd/vessend/main.go
Due: go-fmt, go-vet, golangci-lint-fast

fix(ci): remove go.work and fix orchestrator syntax error
  pkg/cnf/orchestrator.go
  pkg/llm/cache.go
  pkg/llm/circuit_breaker.go
  pkg/llm/common_types.go
  pkg/llm/dynamic_context_manager.go
  pkg/llm/enhanced_performance_client.go
  pkg/llm/metrics.go
  pkg/llm/missing_types.go
Due: go-fmt, go-vet, golangci-lint-fast

perf: disable redundant workflows for 50% faster CI [fast]
  .github/workflows/ci-optimized.yml.disabled
  .github/workflows/main-ci.yml.disabled
  .github/workflows/pr-ci.yml.disabled
  .golangci-fast.yml
  tests/validation/monitoring_observability_validator.go
  tools/vessend/cmd/vessend/main.go
Due: validate-golangci-config, syntax-check-golangci, lint-config-compatibility, go-fmt, go-vet, golangci-lint-fast

fix(utf8): remove all non-ASCII characters causing CI failures
  tests/validation/production_readiness_checklist.go
  tools/vessend/cmd/vessend/main.go
Due: go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve golangci-lint v1.64.3 configuration errors
  .golangci-fast.yml
  .golangci.yml
Due: validate-golangci-config, syntax-check-golangci, lint-config-compatibility

fix: resolve ALL Go compilation errors with 2025 patterns [ultra-speed]
  cmd/secure-porch-patch/main.go
  demo/performance_demo.go
  internal/conductor/watch_reconciler.go
  internal/generator/kptfile.go
  internal/patch/generator.go
  pkg/audit/query.go
  pkg/audit/webhooks.go
  pkg/controllers/orchestration/event_bus.go
  pkg/controllers/orchestration/event_driven_coordinator.go
  pkg/knowledge/lazy_loader.go
  pkg/llm/interface_consolidated.go
  pkg/llm/types.go
  pkg/monitoring/collector_implementations.go
  pkg/monitoring/metrics.go
  pkg/monitoring/reporting/webhook_integration.go
  pkg/monitoring/types.go
  pkg/nephio/krm/functions/network-slice-config.go
  pkg/nephio/krm/functions/o-ran-interface.go
  pkg/nephio/porch/testutil/test_helpers.go
  pkg/oran/e2/e2_adaptor.go
  pkg/oran/e2/service_models.go
  pkg/oran/o1/o1_streaming.go
  pkg/oran/o1/smo_integration.go
  pkg/oran/o2/ims/modeladapter/resource_type.go
  pkg/porch/types.go
  test_imports.go
Due: go-fmt, go-vet, golangci-lint-fast

fix: MEGA PARALLEL FIX - resolve ALL remaining Go compilation errors [ultra-speed-wave-2]
  cmd/intent-ingest/main_test.go
  cmd/llm-processor/service_manager_test.go
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250902-182822-3943/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250902-182822-3943/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250902-182822-3943/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250902-182822-2930/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250902-182822-2930/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250902-182822-2930/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250902-182822-5149/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250902-182822-5149/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250902-182822-5149/scaling-patch.yaml
  comprehensive_test_output.txt
  internal/ingest/intent_nlp_test.go
  internal/ingest/schema_validator_test.go
  internal/intent/loader_edge_case_test.go
  internal/loop/edge_case_test.go
  internal/loop/filename_sanitizer_test.go
  internal/loop/security_unit_test.go
  internal/loop/security_validation_test.go
  internal/porch/writer_test.go
  pkg/audit/backends/splunk.go
  pkg/audit/retention.go
  pkg/auth/handlers.go
  pkg/cnf/orchestrator_test.go
  pkg/controllers/networkintent_table_driven_test.go
  pkg/git/client_test.go
  pkg/monitoring/predictive_analyzer.go
  pkg/monitoring/sla_monitoring_architecture.go
  pkg/monitoring/types_missing.go
  pkg/nephio/krm/runtime_comprehensive_test.go
  pkg/nephio/workflow_orchestrator.go
  pkg/oran/a1/a1_adaptor_test.go
  pkg/oran/o1/o1_streaming.go
  pkg/oran/o1/yang_models.go
  planner/cmd/planner/config_test.go
  tests/excellence/performance_sla_validation_test.go
  tests/security/penetration/penetration_test_suite.go
  tests/validation/performance_comprehensive_test.go
Due: go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve build timeouts and upgrade to Go 1.25
  .build-config
  .github/workflows/README.md
  .github/workflows/ci-optimized.yml
  .github/workflows/ci-production.yml
  .github/workflows/ci-timeout-fix.yml
  .github/workflows/debug-ghcr-auth.yml
  .github/workflows/dev-fast-fixed.yml
  .github/workflows/dev-fast.yml
  .github/workflows/emergency-merge.yml
  .github/workflows/main-ci-optimized.yml
  .github/workflows/parallel-tests.yml
  BUILD-TIMEOUT-FIX.md
  Makefile.ci
  Makefile.optimized
  cmd/main.go
  controllers/networkintent_controller.go
  docs/BUILD-OPTIMIZATION-GUIDE.md
  go.mod
  job-logs.txt
  job-logs1.txt
  pkg/clients/mtls_monitoring_client.go
  pkg/context/enhanced_context.go
  scripts/build-core.sh
  scripts/ci-build.ps1
  scripts/ci-build.sh
  scripts/fix-ci-timeout.sh
  scripts/optimize-build.sh
  scripts/quick-fix-syntax.sh
  scripts/test-ci-build.sh
  scripts/validate-ci-setup.sh
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint-fast

feat(ci): Add workflow validation script and report
  docs/ci-validation-report.md
  scripts/validate-ci-workflow.sh
Due: none

fix(ci): add cache key validation and fallback to prevent empty key errors
  .github/workflows/ci-timeout-fix.yml
Due: none

fix(ci): resolve tar file conflicts and cache key validation errors
  cmd/intent-ingest/main_test.go
  cmd/intent-ingest/performance_test.go
  cmd/llm-processor/service_manager_test.go
  internal/ingest/schema_validator_test.go
  internal/loop/security_validation_test.go
  internal/loop/state_test.go
  pkg/audit/performance_test.go
  pkg/audit/query_test.go
  pkg/auth/providers/azuread_test.go
  pkg/nephio/advanced_benchmarks_test.go
  pkg/oran/a1/a1_adaptor_test.go
  pkg/oran/health/oran_health_checker_test.go
  security/compliance/compliance_validation_test.go
  tests/compliance/oran_compliance_test.go
  tests/excellence/performance_sla_validation_test.go
  tests/integration/audit_e2e_test.go
  tests/o2/compliance/oran_compliance_test.go
  tests/o2/integration/api_endpoints_test.go
  tests/o2/performance/load_test.go
  tests/performance/production_load_test.go
  tests/security/api/api_security_suite_test.go
Due: go-fmt, go-vet, golangci-lint-fast

fix(ci): resolve cache tar errors and syntax check timeouts in dev-fast-fixed workflow
  .github/workflows/dev-fast-fixed.yml
Due: none

fix(iteration2): ULTRA SPEED PARALLEL AGENT ARMY - Zero Compilation Errors Achieved [2025-E2E]
  pkg/webui/dashboard_handlers.go
  pkg/webui/realtime_handlers.go
  pkg/webui/server.go
  tests/validation/monitoring_observability_validator.go
  tests/validation/oran_interface_validator_helpers.go
  tests/validation/oran_performance_benchmarks.go
  tests/validation/oran_test_factories.go
  tests/validation/regression_test_suite.go
  tests/validation/sla_methods.go
  tests/validation/sla_types.go
  tests/validation/system_validator.go
  tests/validation/validator_interfaces.go
Due: go-fmt, go-vet, golangci-lint-fast

fix(ci): update deprecated actions/cache@v4.1.2 to actions/cache@v4
  .github/workflows/CONSOLIDATION-SUMMARY.md
  .github/workflows/ci-production.yml
  .github/workflows/emergency-merge.yml
  .github/workflows/pr-validation.yml
  .github/workflows/verify-consolidation.sh
Due: none

fix(ci): CRITICAL - Fix deprecated actions/cache@v4.1.2 causing Preflight Check failure
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250903-072057-6941/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250903-072057-6941/README.md
  cmd/porch-structured-patch/examples/packages/structured/batch-processor-scaling-patch-20250903-072057-6941/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250903-072056-6093/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250903-072056-6093/README.md
  cmd/porch-structured-patch/examples/packages/structured/web-app-scaling-patch-20250903-072056-6093/scaling-patch.yaml
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250903-072056-8054/Kptfile
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250903-072056-8054/README.md
  cmd/porch-structured-patch/examples/packages/structured/worker-scaling-patch-20250903-072056-8054/scaling-patch.yaml
Due: none

fix(ci): resolve GitHub Actions resolution failure for securecodewarrior/github-action-gosec
  .github/workflows/pr-validation.yml
  .github/workflows/production-ci.yml
  .github/workflows/security-scan.yml
  job-logs.txt
Due: none

fix(docs): Update gosec action reference in documentation
  .github/workflows/README-2025-IMPROVEMENTS.md
Due: none

feat(ci): ULTRA MEGA CI/CD OVERHAUL - Enterprise-grade security & performance transformation
  .github/codeql/queries/telecom-security.ql
  .github/dependabot.yml
  .github/workflows/branch-protection-setup.yml
  .github/workflows/cache-recovery-system.yml
  .github/workflows/ci-stability-orchestrator.yml
  .github/workflows/final-integration-validation.yml
  .github/workflows/kubernetes-operator-deployment.yml
  .github/workflows/nephoran-master-orchestrator.yml
  .github/workflows/oran-telecom-validation.yml
  .github/workflows/security-enhanced-ci.yml
  .github/workflows/security-scan-config.yml
  .github/workflows/security-scan-optimized.yml
  .github/workflows/security-scan-ultra-reliable.yml
  .github/workflows/security-scan.yml
  .github/workflows/telecom-security-compliance.yml
  .github/workflows/timeout-management.yml
  .pre-commit-config.yaml
  CI-STABILITY-FIXES-SUMMARY.md
  CUserstingydev_worktreesnephoranfeat-e2e.pre-commit-config.yaml
  NEPHORAN-CI-INTEGRATION-SUMMARY.md
  SECURITY-ENHANCEMENTS-REPORT.md
  docs/PROGRESS.md
  docs/SECURITY-SCAN-PERFORMANCE-OPTIMIZATION.md
  job-logs.txt
  scripts/benchmark-security-scan.sh
  scripts/validate-ci-fixes.ps1
Due: none
